<meta charset="utf-8" />
<title>${(isNotEmpty(title!) ? title! + ' - ' : '') + 'TangDao.'}</title>
<meta name="description" content="Updates and statistics">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--begin::Fonts
<script src="https://cdn.bootcss.com/webfont/1.6.28/webfontloader.js"></script>
<script>
	WebFont.load({
              google: {"families":["Poppins:300,400,500,600,700","Roboto:300,400,500,600,700"]},
              active: function() {
                  sessionStorage.fonts = true;
              }
          });
      </script> -->
      
      
<link rel="shortcut icon" href="${ctxStatic}/media/logos/favicon.ico" />
<!--end::Fonts -->
<script src="${ctxPath}/global.min.js?ctx=${ctx}"></script>
<script src="${ctxStatic}/vendors/general/jquery/dist/jquery.js" type="text/javascript"></script>