<!--begin:: Global Mandatory Vendors -->
<script src="${ctxStatic}/vendors/general/popper.js/dist/umd/popper.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/js-cookie/src/js.cookie.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/moment/min/moment.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/tooltip.js/dist/umd/tooltip.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/perfect-scrollbar/dist/perfect-scrollbar.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/sticky-js/dist/sticky.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/wnumb/wNumb.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/layer/3.1/layer.js" type="text/javascript"></script>
<!--end:: Global Mandatory Vendors -->
<script>
</script>
<!--begin:: Global Optional Vendors -->
<script src="${ctxStatic}/vendors/general/jquery-form/dist/jquery.form.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/block-ui/jquery.blockUI.js" type="text/javascript"></script>
<% if (@ListUtils.inString('date', libs!)){ %>
<script src="${ctxStatic}/vendors/general/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/custom/components/vendors/bootstrap-datepicker/init.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/bootstrap-datetime-picker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/bootstrap-timepicker/js/bootstrap-timepicker.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/custom/components/vendors/bootstrap-timepicker/init.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<% } %>
<script src="${ctxStatic}/vendors/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/bootstrap-maxlength/bootstrap-maxlength.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/custom/vendors/bootstrap-multiselectsplitter/bootstrap-multiselectsplitter.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/bootstrap-select/dist/js/bootstrap-select.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/bootstrap-switch/dist/js/bootstrap-switch.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/custom/components/vendors/bootstrap-switch/init.js" type="text/javascript"></script>
<% if (@ListUtils.inString('slider', libs!)){ %>
<script src="${ctxStatic}/vendors/general/ion-rangeslider/js/ion.rangeSlider.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/nouislider/distribute/nouislider.js" type="text/javascript"></script>
<% } %>
<script src="${ctxStatic}/vendors/general/typeahead.js/dist/typeahead.bundle.js" type="text/javascript"></script>
<% if (@ListUtils.inString('inputmask', libs!)){ %>
<script src="${ctxStatic}/vendors/general/inputmask/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/inputmask/dist/inputmask/inputmask.date.extensions.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/inputmask/dist/inputmask/inputmask.numeric.extensions.js" type="text/javascript"></script>
<% } %>
<% if (@ListUtils.inString('carousel', libs!)){ %>
<script src="${ctxStatic}/vendors/general/owl.carousel/dist/owl.carousel.js" type="text/javascript"></script>
<% } %>
<script src="${ctxStatic}/vendors/general/autosize/dist/autosize.js" type="text/javascript"></script>
<% if (@ListUtils.inString('dropzone', libs!)){ %>
<script src="${ctxStatic}/vendors/general/dropzone/dist/dropzone.js" type="text/javascript"></script>
<% } %>
<% if (@ListUtils.inString('summernote', libs!)){ %>
<script src="${ctxStatic}/vendors/general/summernote/dist/summernote.js" type="text/javascript"></script>
<% } %>
<% if (@ListUtils.inString('markdown', libs!)){ %>
<script src="${ctxStatic}/vendors/general/markdown/lib/markdown.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/bootstrap-markdown/js/bootstrap-markdown.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/custom/components/vendors/bootstrap-markdown/init.js" type="text/javascript"></script>
<% } %>
<% if (@ListUtils.inString('notify', libs!)){ %>
<script src="${ctxStatic}/vendors/general/bootstrap-notify/bootstrap-notify.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/custom/components/vendors/bootstrap-notify/init.js" type="text/javascript"></script>
<% } %>
<% if (@ListUtils.inString('validation', libs!)){ %>
<script src="${ctxStatic}/vendors/general/jquery-validation/dist/jquery.validate.js" type="text/javascript"></script>
<!-- 
<script src="${ctxStatic}/vendors/general/jquery-validation/dist/additional-methods.js" type="text/javascript"></script>
 -->
<script src="${ctxStatic}/vendors/general/jquery-validation/dist/localization/messages_zh.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/custom/components/vendors/jquery-validation/init.js" type="text/javascript"></script>
<% } %>
<script src="${ctxStatic}/vendors/general/toastr/build/toastr.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/raphael/raphael.js" type="text/javascript"></script>
<% if (@ListUtils.inString('morris', libs!)){ %>
<script src="${ctxStatic}/vendors/general/morris.js/morris.js" type="text/javascript"></script>
<% } %>
<% if (@ListUtils.inString('chart', libs!)){ %>
<script src="${ctxStatic}/vendors/general/chart.js/dist/Chart.bundle.js" type="text/javascript"></script>
<% } %>
<% if (@ListUtils.inString('timeout', libs!)){ %>
<script src="${ctxStatic}/vendors/custom/vendors/bootstrap-session-timeout/dist/bootstrap-session-timeout.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/custom/vendors/jquery-idletimer/idle-timer.min.js" type="text/javascript"></script>
<% } %>
<!-- 滚动监听插件 -->
<script src="${ctxStatic}/vendors/general/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/es6-promise-polyfill/promise.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/jquery.repeater/jquery.repeater.min.js" type="text/javascript"></script>
<script src="${ctxStatic}/vendors/general/dompurify/dist/purify.js" type="text/javascript"></script>

<!--end:: Global Optional Vendors -->

<!--begin::Global Theme Bundle(used by all pages) -->
<script src="${ctxStatic}/theme/default/base/scripts.bundle.js" type="text/javascript"></script>

<!--end::Global Theme Bundle -->
<% if (@ListUtils.inString('fullcalendar', libs!)){ %>
<script src="${ctxStatic}/vendors/custom/fullcalendar/fullcalendar.bundle.js" type="text/javascript"></script>
<% } %>
<% if (@ListUtils.inString('maps', libs!)){ %>
<script src="${ctxStatic}/vendors/custom/gmaps/gmaps.js" type="text/javascript"></script>
<% } %>
<!--end::Page Vendors -->

<script src="${ctxStatic}/app/custom/admin.js" type="text/javascript"></script>
<!--begin::Page Scripts(used by this page) 
<script src="${ctxStatic}/app/custom/general/dashboard.js" type="text/javascript"></script>-->
${jsSection}
<!--end::Page Scripts -->
<!--begin::Global App Bundle(used by all pages) -->
<script src="${ctxStatic}/app/bundle/app.bundle.js" type="text/javascript"></script>
