<%
var modelAttr = pageCtx("modelAttr");
var p = {
	
	// 标签参数
	id: id!,					// 元素ID，如果不填写，则与name相同
	path: path!,				// 绑定form上model中属性的值
	name: name!,				// 元素名称，不填写
	value: value!,				// 元素值
	defaultValue: defaultValue!,// 默认值 v4.1.5
	
	type: type!'hidden'		// 元素的类型，默认hidden
	
};
var id = p.id!p.name!p.path;
var name = p.name!p.path;
var value = p.value!;
if(@StringUtils.isBlank(value!)&&@StringUtils.isNotBlank(p.path!)){
	value = modelAttr[p.path];
}
if(@StringUtils.isBlank(value!)){
	value = p.defaultValue;
}
%>
<input type="${p.type}" id="${id}" name="${name}" value="${value}" />