<% layout('/layouts/default.html', {title: '调度日志', libs: ['dataGrid']}){ %>
<div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
      <div class="pt-1">调度日志</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i  class="fa fa-filter"></i>查询</button>
      </div>
    </div>
    <div class="card-body pd-10">
      <#form:form id="searchForm" model="${jobsLog}" action="${ctx}/jobsLog/listData" method="post" class="form-horizontal"
				data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
        <div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">执行器名称</span>
            </div>
            <#form:input name="app" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm">查询</button>
          <button type="reset" class="btn btn-default btn-sm">重置</button>
        </div>
      </#form:form>
      <table id="dataGrid"></table>
      <div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
//初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'日志ID', name:'id', index:'id', width:120, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sys/log/form?id='+row.id+'" class="btnList" data-title="日志详情">'+(val||row.id)+'</a>';
		}},
		{header:'任务ID', name:'jobId', index:'job_id', width:120, align:"left"},
		{header:'网络地址', name:'address', index:'address', width:180},
		{header:'任务', name:'handler', index:'handler', width:180},
		{header:'参数', name:'param', index:'param', width:180},
		{header:'失败重试次数', name:'failRetryCount', index:'fail_retry_count', width:180, align:"right"},
		{header:'触发状态码', name:'triggerCode', index:'trigger_code', width:90, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('job_status')}, val, '未知', true);
		}},
		{header:'触发类型', name:'triggerType', index:'trigger_type', width:180},
		{header:'响应消息', name:'triggerMsg', index:'trigger_msg', width:180},
		{header:'创建时间', name:'createTime', index:'create_time', width:180}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
	}
});
</script>
</body></html>