<div class="aside aside-fixed">
    <div class="aside-header">
        <a href="javascript:;" class="aside-logo">管理平台<span> dev1.0</span></a>
        <a href="javascript:;" class="aside-menu-link">
            <i data-feather="menu"></i>
            <i data-feather="x"></i>
        </a>
    </div>
    <div class="aside-body">
        <div class="aside-loggedin">
            <div class="d-flex align-items-center justify-content-start">
                <a href="" class="avatar"><img src="${ctxStatic+user.avatar!'/images/user1.jpg'}" class="rounded-circle"
                        alt=""></a>
                <div class="aside-alert-link">
                    <a href="" class="new" data-toggle="tooltip" title="You have 2 unread messages"><i
                            data-feather="message-square"></i></a>
                    <a href="" class="new" data-toggle="tooltip" title="You have 4 new notifications"><i
                            data-feather="bell"></i></a>
                    <a href="${ctx}/logout" data-toggle="tooltip" title="Sign out"><i data-feather="log-out"></i></a>
                </div>
            </div>
            <div class="aside-loggedin-user">
                <a href="javascript:;" class="d-flex align-items-center justify-content-between mg-b-2">
                    <h6 class="tx-semibold mg-b-0">${user.nickname!user.username}</h6>
                </a>
                <p class="tx-color-03 tx-12 mg-b-0">${user.email!user.mobile}</p>
            </div>
        </div><!-- aside-loggedin -->
        <ul class="nav nav-aside">
            <li class="nav-label">控制台</li>
            <li class="nav-item treeview"><a href="javascript:;" data-href="demo2.html" class="nav-link addTabPage"
                    data-code="1148141434169016320"><i data-feather="shopping-bag"></i>
                    <span>列表页面</span></a></li>
            <li class="nav-item treeview"><a href="javascript:;" data-href="demo1.html" class="nav-link addTabPage"
                    data-code="1148141434169016321"><i data-feather="globe"></i>
                    <span>Website Analytics</span></a></li>
            <li class="nav-item treeview"><a href="javascript:;" data-href="404.html" class="nav-link addTabPage"
                    data-code="1148141434169016321"><i data-feather="pie-chart"></i>
                    <span>Cryptocurrency</span></a></li>
            <li class="nav-item treeview"><a href="javascript:;" data-href="500.html" class="nav-link addTabPage"
                    data-code="1148141434169016321"><i data-feather="life-buoy"></i>
                    <span>Helpdesk Management</span></a></li>
            <li class="nav-label mg-t-25">系统应用</li>
            
            <% for(item in menus) { %>
            	<% if(@ListUtils.isEmpty(item.children)){  %>
            		<li class="nav-item treeview"><a href="javascript:;" data-href="${item.menuHref}" class="nav-link addTabPage" data-code="${item.menuCode}"><i data-feather="life-buoy"></i>
                    <span>${item.menuName}</span></a></li>
            	<% }else{ %>
            		<li class="nav-item with-sub">
		                <a href="javascript:;" class="nav-link"><i data-feather="user"></i> <span>${item.menuName}</span></a>
		                <ul>
		                	<% for(subItem in item.children){ %>
		                		<% if(@ListUtils.isEmpty(subItem.children)){ %>
			                    <li class="treeview"><a href="javascript:;" data-href="${subItem.menuHref}" class="addTabPage" data-code="${subItem.menuCode}"><i class="badge badge-dot"><span></span></i>${subItem.menuName}</a></li>
		                		<% }else{ %>
		                		<% } %>
		                    <% } %>
		                </ul>
		            </li>
            	<% } %>
            
            <% } %>
            
            <!-- 
            <li class="nav-item treeview"><a href="demo2.html" class="nav-link"><i data-feather="calendar"></i>
                    <span>Calendar</span></a></li>
            <li class="nav-item treeview"><a href="demo2.html" class="nav-link"><i
                        data-feather="message-square"></i>
                    <span>Chat</span></a></li>
            <li class="nav-item treeview"><a href="demo2.html" class="nav-link"><i data-feather="users"></i>
                    <span>Contacts</span></a></li>
            <li class="nav-item treeview"><a href="javascript:;" data-href="file-manager.html" class="nav-link addTabPage"
                data-code="1148141434169016321"><i data-feather="file-text"></i>
                    <span>File Manager</span></a></li>
            <li class="nav-item treeview"><a href="demo2.html" class="nav-link"><i data-feather="mail"></i>
                    <span>Mail</span></a></li>
            <li class="nav-item treeview"><a href="javascript:;" data-href="line-awesome.html"
                    class="nav-link addTabPage" data-code="1148141434169016321"><i data-feather="image"></i>
                    <span>Icon Line-awesome</span></a></li>
            <li class="nav-item treeview"><a href="javascript:;" data-href="fontawesome5.html"
                    class="nav-link addTabPage" data-code="1148141434169016321"><i data-feather="image"></i>
                    <span>fontawesome5</span></a></li>
            <li class="nav-item treeview"><a href="javascript:;" data-href="form.html"
                    class="nav-link addTabPage" data-code="1148141434169016321"><i data-feather="image"></i>
                    <span>表单页面</span></a></li>
			
            <li class="nav-label mg-t-25">页面组件</li>
            <li class="nav-item with-sub">
                <a href="" class="nav-link"><i data-feather="user"></i> <span>User Pages</span></a>
                <ul>
                    <li class="treeview"><a href="javascript:;" data-href="signin.html" class="addTabPage"
                            data-code="1148141434169016321"><i class="badge badge-dot"><span></span></i>View
                            Profile</a></li>
                    <li class="treeview"><a  href="javascript:;" data-href="pricing.html" class="addTabPage"
                        data-code="1148141434169016321"><i
                                class="badge badge-dot"><span></span></i>pricing</a></li>
                    <li class="treeview"><a  href="javascript:;" data-href="verify.html" class="addTabPage"
                        data-code="1148141434169016321"><i class="badge badge-dot"><span></span></i>verify</a>
                    </li>
                    <li class="treeview"><a  href="javascript:;" data-href="left-tree.html" class="addTabPage"
                        data-code="1148141434169016321"><i class="badge badge-dot"><span></span></i>Events</a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item with-sub">
                <a href="" class="nav-link"><i data-feather="file"></i> <span>Other Pages</span></a>
                <ul>
                    <li class="treeview"><a  href="javascript:;" data-href="file-manager.html" class="addTabPage"
                        data-code="1148141434169016321"><i
                                class="badge badge-dot"><span></span></i>FileManager</a></li>
                </ul>
            </li>
             -->
            <li class="nav-label mg-t-25">功能组件</li>
            <li class="nav-item treeview"><a href="demo2.html" class="nav-link"><i data-feather="layers"></i>
                    <span>Components</span></a></li>
            <li class="nav-item treeview"><a href="demo2.html" class="nav-link"><i data-feather="box"></i>
                    <span>Collections</span></a></li>
        </ul>
    </div>
</div>