<script src="${ctxStatic}/vendors.js"></script>
<script src="${ctxStatic}/vendors/select2/js/select2.min.js"></script>
<% if (@ListUtils.inString('validate', libs!)){ %>
<script src="${ctxStatic}/vendors/jquery.validation/1.16/jquery.validate.js"></script>
<script src="${ctxStatic}/vendors/jquery.validation/1.16/jquery.validate.extend.js"></script>
<% } %>
<% if (@ListUtils.inString('tabPage', libs!)){ %>
<script src="${ctxStatic}/vendors/wdScrollTab/js/TabPanel.js"></script>
<script src="${ctxStatic}/vendors/wdScrollTab/js/TabPanel.extend.js"></script>
<% } %>
<script src="${ctxStatic}/vendors/layer/3.1/layer.js"></script>
<script src="${ctxStatic}/tangdao.js"></script>