<% layout('/layouts/default.html', {title: '用户余额日志管理', libs: ['validate']}){ %>
<div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
        <div class="pt-1">${paasUserBalanceLog.isNewRecord ? '新增用户余额日志' : '编辑用户余额日志'}</div>
        <div class="d-flex">
        </div>
    </div>
    <#form:form id="inputForm" model="${paasUserBalanceLog}" action="${ctx}/paas/paasUserBalanceLog/save" method="post">
        <div class="card-body card-content-fixed pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>id <span class="tx-danger ">*</span></label>
				
					<#form:hidden path="isNewRecord"/>
<#form:input path="id" maxlength="64" readonly="${!paasUserBalanceLog.isNewRecord}" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>用户ID <span class="tx-danger ">*</span></label>
				<#form:input path="userCode" maxlength="64" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>平台类型：1-短信，2-流量，3-语音 <span class="tx-danger ">*</span></label>
				<#form:input path="platformType" maxlength="4" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>充值额度 <span class="tx-danger ">*</span></label>
				<#form:input path="balance" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>充值源,1:订单充值，2：账号额度划拨,3:系统续充,4:消费 <span class="tx-danger ">*</span></label>
				<#form:input path="paySource" maxlength="4" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>支付方式，1：账户转账，2:线下转账，3：支付宝，4：微信支付 <span class="tx-danger d-none">*</span></label>
				<#form:input path="payType" maxlength="4" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>订单号 <span class="tx-danger d-none">*</span></label>
				<#form:input path="orderNo" maxlength="32" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>划拨人ID <span class="tx-danger d-none">*</span></label>
				<#form:input path="fromUserId" maxlength="11" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>单价 <span class="tx-danger d-none">*</span></label>
				<#form:input path="price" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>总价 <span class="tx-danger d-none">*</span></label>
				<#form:input path="totalPrice" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>备注信息 <span class="tx-danger d-none">*</span></label>
				<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
				</div>
			</div>
        </div>
        <div class="card-footer pd-sm-l-30">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                	<% if(expIf("hasAuthority('paas:paasUserBalanceLog:edit')")){ %>
                    <button type="submit" class="btn btn-sm btn-primary">保存提交</button>
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" onclick="js.closeCurrentTabPage()">关闭窗口</button>
                </div>
            </div>
        </div>
   </#form:form>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>