<% layout('/layouts/default.html', {title: '通道模板管理', libs: ['validate']}){ %>
<div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
        <div class="pt-1">${paasPassageTemplate.isNewRecord ? '新增通道模板' : '编辑通道模板'}</div>
        <div class="d-flex">
        </div>
    </div>
    <#form:form id="inputForm" model="${paasPassageTemplate}" action="${ctx}/paas/paasPassageTemplate/save" method="post">
        <div class="card-body card-content-fixed pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>id <span class="tx-danger ">*</span></label>
				
					<#form:hidden path="isNewRecord"/>
<#form:input path="id" maxlength="64" readonly="${!paasPassageTemplate.isNewRecord}" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>模板名称 <span class="tx-danger ">*</span></label>
				<#form:input path="name" maxlength="100" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>协议 <span class="tx-danger ">*</span></label>
				<#form:input path="protocol" maxlength="32" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>1-短信通道模板 2-流量通道模板 3-语音通道模板 <span class="tx-danger ">*</span></label>
				<#form:input path="passageType" maxlength="2" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>备注信息 <span class="tx-danger d-none">*</span></label>
				<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
				</div>
			</div>
        </div>
        <div class="card-footer pd-sm-l-30">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                	<% if(expIf("hasAuthority('paas:paasPassageTemplate:edit')")){ %>
                    <button type="submit" class="btn btn-sm btn-primary">保存提交</button>
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" onclick="js.closeCurrentTabPage()">关闭窗口</button>
                </div>
            </div>
        </div>
   </#form:form>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>