<% layout('/layouts/default.html', {title: '推送配置信息表管理', libs: ['validate']}){ %>
<div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
        <div class="pt-1">${pushConfig.isNewRecord ? '新增推送配置信息表' : '编辑推送配置信息表'}</div>
        <div class="d-flex">
        </div>
    </div>
    <#form:form id="inputForm" model="${pushConfig}" action="${ctx}/paas/pushConfig/save" method="post">
        <div class="card-body card-content-fixed pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>id <span class="tx-danger ">*</span></label>
				
					<#form:hidden path="isNewRecord"/>
<#form:input path="id" maxlength="64" readonly="${!pushConfig.isNewRecord}" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>用户编码 <span class="tx-danger ">*</span></label>
				<#form:input path="userCode" maxlength="64" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>状态报告地址/上行地址 <span class="tx-danger d-none">*</span></label>
				<#form:input path="url" maxlength="256" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>类型 1:短信状态报告,2:短信上行回执报告,3:流量充值报告,4:语音发送报告 <span class="tx-danger d-none">*</span></label>
				<#form:input path="type" maxlength="4" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>重推次数 <span class="tx-danger d-none">*</span></label>
				<#form:input path="retryTimes" maxlength="4" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>备注信息 <span class="tx-danger d-none">*</span></label>
				<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
				</div>
			</div>
        </div>
        <div class="card-footer pd-sm-l-30">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                	<% if(expIf("hasAuthority('paas:pushConfig:edit')")){ %>
                    <button type="submit" class="btn btn-sm btn-primary">保存提交</button>
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" onclick="js.closeCurrentTabPage()">关闭窗口</button>
                </div>
            </div>
        </div>
   </#form:form>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>