<% 
@servlet.getResponse().setStatus(403);

var message = @ObjectUtils.toString(@request.getAttribute("message"));

if (isBlank(message)){
	var ex = @ExceptionUtils.getThrowable(request);
	if (ex != null){
		for (e in [ex, ex.cause!, ex.cause.cause!]){
			if (@StringUtils.startsWith(e.message!, "msg:")){
				message = @StringUtils.replace(e.message!, "msg:", "");
				break;
			}
		}
	}
}

if (isBlank(message)){
	message = "您的操作权限不足！";
}

// 如果是异步请求或是手机端，则直接返回信息
if (@ServletUtils.isAjaxRequest(request)) {
	print(@ServletUtils.renderResult(@Global.FALSE, message));
}

// 输出异常信息页面
else {
%>
<% layout('/layouts/default.html', {title: '403 - 操作权限不足'}){ %>
${message}<br>
----------------------------------------------------------<br>
很抱歉，您没有权限访问此页面，若有疑问请联系管理员。
<script>
layui.use(['admin'], function () {
	var admin = layui.admin;
	setTimeout(function () {
        admin.removeLoading();
    }, 300);
});
</script>
<% } %>
<% } %>