<%
@servlet.getResponse().setStatus(responseStatus!500);
var message = @ObjectUtils.toString(@request.getAttribute("message"));

var ex;
if (isEmpty(message)){
	ex = @ExceptionUtils.getThrowable(request);
	if (ex != null){
		for (e in [ex, ex.cause!, ex.cause.cause!]){
			if (@StringUtils.startsWith(e.message!, "msg:")){
				message = @StringUtils.replace(e.message!, "msg:", "");
				break;
			}else if (e.class.name! == 'org.tangdao.common.exception.ServiceException'){
				message = e.message!;
				break;
			}
		}
		@org.slf4j.LoggerFactory.getLogger("error/500").error(ex.message, ex);
	}
}
if (isEmpty(message)){
	message = "您访问的页面出错啦！";
}
if (@ServletUtils.isAjaxRequest(request)) {
	print(@ServletUtils.renderResult(@Global.FALSE, message));
}else{%>
${@StringUtils.toHtml(@ExceptionUtils.getStackTraceAsString(ex))}<br>
<% } %>