<th:block th:fragment="active(val)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">导航</li>
                
                <li>
                    <a href="/">
                        <i class="la la-clone"></i>
                        <span> 控制面板 </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="la la-cube"></i>
                        <span> 系统管理 </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level nav" aria-expanded="false">
                        <li>
                            <a href="/sys/user/list">用户管理</a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">角色管理</a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">菜单管理</a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">字典管理</a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">系统配置</a>
                        </li>
                        <li>
                            <a href="javascript: void(0);">日志监控</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
</th:block>