<div id="kt_demo_panel" class="kt-demo-panel">
	<div class="kt-demo-panel__head">
		<h3 class="kt-demo-panel__title">
			选择一个主题
			<!--<small>5</small>-->
		</h3>
		<a href="#" class="kt-demo-panel__close" id="kt_demo_panel_close"><i class="flaticon2-delete"></i></a>
	</div>
	<div class="kt-demo-panel__body">
		<div class="kt-demo-panel__item kt-demo-panel__item--active">
			<div class="kt-demo-panel__item-title">
				默认主题
			</div>
			<div class="kt-demo-panel__item-preview">
				<img src="${ctxStatic}/media/demos/Demo-_Default.jpg" alt="" />
				<div class="kt-demo-panel__item-preview-overlay">
					<a href="/" class="btn btn-brand btn-elevate " target="_blank">Preview</a>
				</div>
			</div>
		</div>
		<a href="" target="_blank" class="kt-demo-panel__purchase btn btn-brand btn-elevate btn-bold btn-upper">
			保存主题
		</a>
	</div>
</div>