<% layout('/layouts/default.html', {title: '待处理短信任务', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between pd-10-f">
      <div class="pt-1">待处理短信任务</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
          <a href="${ctx}/sms/smsMtTask/form" class="btn btn-xs btn-success mg-l-10 btnTool" title="审核通过">审核通过</a>
          <a href="${ctx}/sms/smsMtTask/form" class="btn btn-xs btn-primary mg-l-10 btnTool" title="同内容批次释放">同内容批次释放</a>
          <a href="${ctx}/sms/smsMtTask/form" class="btn btn-xs btn-danger mg-l-10 btnTool" title="驳回">驳回</a>
          <a href="${ctx}/sms/smsMtTask/form" class="btn btn-xs btn-danger mg-l-10 btnTool" title="通内容驳回">同内容驳回</a>
          <a href="${ctx}/sms/smsMtTask/form" class="btn btn-xs btn-dark  mg-l-10 btnTool" title="通道切换">通道切换</a>
          <a href="${ctx}/sms/smsMtTask/form" class="btn btn-xs btn-dark  mg-l-10 btnTool" title="重新分包">重新分包</a>
          <a href="${ctx}/sms/smsMtTask/form" class="btn btn-xs btn-default mg-l-10 btnTool" title="修改内容">修改内容</a>
          <% if(expIf("hasAuthority('sms:smsMtTask:edit')")){ %>
          <% } %>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsMtTask}" action="${ctx}/sms/mtTask/underWayListData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">任务 SID</span>
            </div>
            <#form:input path="sid" class="form-control" />
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">客户编码</span>
            </div>
            <#form:input path="userCode" class="form-control" />
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">手机号码</span>
            </div>
            <#form:input path="mobile" class="form-control" />
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">短信内容</span>
            </div>
            <#form:input path="content" class="form-control" />
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">分包状态</span>
            </div>
            <#form:input path="content" class="form-control" />
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">审核状态</span>
            </div>
            <#form:input path="content" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">开始时间</span>
            </div>
            <#form:input name="d1" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">结束时间</span>
            </div>
            <#form:input name="d1" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm">查询</button>
          <button type="reset" class="btn btn-default btn-sm">重置</button>
        </div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'SID', name:'sid', index:'sid', width:260, align:"center" },
		{header:'模式', name:'submitType', index:'submit_type', width:80, align:"center", formatter: function(val, obj, row, act){
			if(1==val){
				return '点';
			}else if(2==val){
				return '模';
			}else{
				return '批';
			}
		}},
		{header:'计', name:'fee', index:'fee', width:80, align:"center", formatter: function(val, obj, row, act){
			return '<span class="badge badge-primary">'+val+'</span>';
		}},
		{header:'返', name:'returnFee', index:'return_fee', width:80, align:"center", formatter: function(val, obj, row, act){
			return '<span class="badge badge-success">'+val+'</span>';
		}},
		{header:'客户编码', name:'userCode', index:'user_code', width:150, align:"left"},
		{header:'手机号', name:'mobile', index:'mobile', width:230, align:"left" , formatter: function(val, obj, row, act){
			if(row.mobiles&&row.mobiles.length>1){
				return row.firstMobile + '... <span class="badge badge-primary">'+row.mobiles.length+'</span>';
			}else{
				return val;
			}
		}},
		{header:'错号', name:'errorMobiles', index:'error_mobiles', align:"left", formatter: function(val, obj, row, act){
			if(row.showErrorMobiles&&row.showErrorMobiles.length>1){
				return row.showErrorFirstMobile + '... <span class="badge badge-danger">'+row.showErrorMobiles.length+'</span>';
			}else{
				return val;
			}
		}},
		{header:'重复', name:'repeatMobiles', index:'repeat_mobiles',  align:"left", formatter: function(val, obj, row, act){
			if(row.showRepeatMobiles&&row.showRepeatMobiles.length>1){
				return row.showRepeatFirstMobiles + '... <span class="badge badge-warning">'+row.showRepeatMobiles.length+'</span>';
			}else{
				return val;
			}
		}},
		{header:'分包状态', name:'processStatus', index:'process_status', width:200, align:"center", formatter: function(val, obj, row, act){
			var mt = '未知';
			if(0==val){
				mt = '正在分包';
			}else if(1==val){
				mt = '分包完成，待发送';
			}else if(2==val){
				mt = '分包异常，待处理';
			}else if(3==val){
				mt = '分包失败，终止';
			}
			return '<a href="javascript:void(0);" class="badge badge-light" data-trigger="focus" data-placement="top" data-toggle="popover" data-content="'+row.remarks+'">'+ mt +'</a>';
		}},
		{header:'来源', name:'appType', index:'app_type', width:80, align:"center", formatter: function(val, obj, row, act){
			if(1==val){
				return 'W';
			}else if(2==val){
				return 'D';
			}else if(3==val){
				return 'B';
			}else{
				return '未知';
			}
		}},
		{header:'提交时间', name:'createTime', index:'create_time', width:150, align:"center"},
		{header:'分包时间', name:'processTime', index:'process_time', width:150, align:"center"},
		{header:'操作', name:'actions', width:360, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			actions.push('<a href="${ctx}/sms/smsMtTask/form?id='+row.id+'" class="badge badge-light btnList" title="子任务">子任务</a>&nbsp;');
			actions.push('<a href="${ctx}/sms/smsMtTask/delete?id='+row.id+'" class="badge badge-light btnList" title="模板报备")}">模板报备</a>&nbsp;');
			actions.push('<a href="${ctx}/sms/smsMtTask/delete?id='+row.id+'" class="badge badge-light btnList" title="敏感词导白")}">敏感词导白</a>&nbsp;');
			return actions.join('');
		}},
		{header:'内容', hidden: true, name:'content', index:'content', formatter: function(val, obj, row, act){
			return "</tr><tr><td colspan=2 style='border-bottom: 1px solid #e1e1e1;'></td>\
			<td colspan=6 class='pd-t-10 pd-b-10' style='border-bottom: 1px solid #e1e1e1;'>"+val+"</td>\
			<td colspan=2 class='pd-t-10 pd-b-10' style='border-bottom: 1px solid #e1e1e1;'> 字数：23</td>\
			<td colspan=2 class='pd-5' style='border-bottom: 1px solid #e1e1e1;'> 敏感度：一般</td>\
			<td colspan=4 class='pd-5' style='border-bottom: 1px solid #e1e1e1;'> 敏感词：会员，理财</td>";
		}}
	],
	multiboxonly: true,	// 单击复选框时再多选
	showCheckbox: true,	// 是否显示复选框
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		$('[data-toggle="popover"]').popover();
	},
	// 子表格支持演示
	//subGrid: true,
	//subGridRowExpanded: function (subgridId, rowId) {
	//	$('#'+subgridId).html('aslfjlaskdfjskldfjl');
	//}
});
</script>
</body></html>