<% layout('/layouts/default.html', {title: '待处理短信任务', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
      <div class="pt-1">待处理短信任务</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsMtTask}" action="${ctx}/sms/mtTask/completedListData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">模板 TID</span>
            </div>
            <#form:input path="sid" class="form-control"  placeholder="请输入模板编码"/>
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">任务 SID</span>
            </div>
            <#form:input path="sid" class="form-control"  placeholder="请输入消息编码"/>
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">客户编码</span>
            </div>
            <#form:input path="userCode" class="form-control" placeholder="请输入客户编码" />
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">手机号码</span>
            </div>
            <#form:input path="mobile" class="form-control" placeholder="请输入手机号"/>
          </div>
        </div>
		<div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">短信内容</span>
            </div>
            <#form:input path="content" class="form-control" placeholder="请输入内容"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">开始时间</span>
            </div>
            <#form:input name="d1"  readonly="true" maxlength="20" class="form-control Wdate-date"
					dataFormat="yyyy-MM-dd 00:00:00" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true});" defaultValue="${date()}"/>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group wd-250">
            <div class="input-group-prepend">
              <span class="input-group-text">结束时间</span>
            </div>
            <#form:input name="d2"  readonly="true" maxlength="20" class="form-control Wdate-date"
					dataFormat="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',isShowClear:true});"/>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-sm">查询</button>
          <button type="reset" class="btn btn-default btn-sm">重置</button>
        </div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'SID', name:'sid', index:'sid', width:260, align:"center" },
		{header:'模式', name:'submitType', index:'submit_type', width:80, align:"center", formatter: function(val, obj, row, act){
			if(1==val){
				return '点';
			}else if(2==val){
				return '模';
			}else{
				return '批';
			}
		}},
		{header:'计', name:'fee', index:'fee', width:80, align:"center", formatter: function(val, obj, row, act){
			return '<span class="badge badge-primary">'+val+'</span>';
		}},
		{header:'返', name:'returnFee', index:'return_fee', width:80, align:"center", formatter: function(val, obj, row, act){
			return '<span class="badge badge-success">'+val+'</span>';
		}},
		{header:'客户编码', name:'userCode', index:'user_code', width:150, align:"left"},
		{header:'手机号', name:'mobile', index:'mobile',sortable:false, width:230, align:"left" , formatter: function(val, obj, row, act){
			if(row.mobiles&&row.mobiles.length>1){
				return row.firstMobile + '... <span class="badge badge-primary">'+row.mobiles.length+'</span>';
			}else{
				return val;
			}
		}},
		{header:'错号', name:'errorMobiles', index:'error_mobiles',sortable:false, align:"left", formatter: function(val, obj, row, act){
			if(row.showErrorMobiles&&row.showErrorMobiles.length>1){
				return row.showErrorFirstMobile + '... <span class="badge badge-danger">'+row.showErrorMobiles.length+'</span>';
			}else{
				return val;
			}
		}},
		{header:'重复', name:'repeatMobiles', index:'repeat_mobiles',sortable:false,  align:"left", formatter: function(val, obj, row, act){
			if(row.showRepeatMobiles&&row.showRepeatMobiles.length>1){
				return row.showRepeatFirstMobiles + '... <span class="badge badge-warning">'+row.showRepeatMobiles.length+'</span>';
			}else{
				return val;
			}
		}},
		{header:'来源', name:'appType', index:'app_type', width:80, align:"center", formatter: function(val, obj, row, act){
			if(1==val){
				return 'W';
			}else if(2==val){
				return 'D';
			}else if(3==val){
				return 'B';
			}else{
				return '未知';
			}
		}},
		{header:'提交时间', name:'createTime', index:'create_time', width:150, align:"center"},
		{header:'分包时间', name:'processTime', index:'process_time', width:150, align:"center"},
		{header:'操作', name:'actions', width:360, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			actions.push('<a href="${ctx}/sms/mtTaskPackets/list?sid='+row.sid+'" class="badge badge-light btnList" title="子任务">子任务</a>&nbsp;');
			actions.push('<a href="${ctx}/sms/smsMtTask/delete?id='+row.id+'" class="badge badge-light btnList" title="模板"">模板</a>&nbsp;');
			actions.push('<a href="${ctx}/sms/smsMtTask/delete?id='+row.id+'" class="badge badge-light btnList" title="敏感词"">敏感词</a>&nbsp;');
			return actions.join('');
		}},
		{header:'内容', hidden: true, name:'content', index:'content', formatter: function(val, obj, row, act){
			var hview = "</tr><tr style='line-height:30px;'>";
			if(row.forbiddenWordLabels){
			    hview += "<td colspan=6 style='border-bottom: 1px solid #e1e1e1;' class='pd-l-5'>";
				row.forbiddenWordLabels.forEach(function(item, index, arr){
					hview+='<a href="javascript:void(0);" class="badge badge-';
					if(item.word.indexOf(".*")==-1){
						hview+='warning"';
					}else{
						hview+='danger"';
					}
					hview+=' data-trigger="focus" data-placement="right" data-toggle="popover" data-content="'+item.word+'">'+item.label+'</a>&nbsp;';
				});
				hview+='</td><td colspan=20 style="border-bottom: 1px solid #e1e1e1;text-align:right;"><span style="word-break:break-all;">';
				var content = val;
				row.forbiddenWords.split(',').forEach(function(item){
					if(item&&item.indexOf('.*')>=0){
						item.split('.*').forEach(function(a){
							if(a!=null&&a!=""){
								content = content.replace(a,"<span style='color:#FF0000;border-bottom:1px solid #FF0000;'>"+a+"</span>");
							}
						});
					}else{
						content = content.replace(item,"<span style='color:#E9967A'>"+item+"</span>");
					}
				});
				hview+=content+"</span>";
			}else{
				hview+='<td colspan=20 style="border-bottom: 1px solid #e1e1e1;text-align:right;"><span style="word-break:break-all;">'+val+'</span>';
			}
			hview+='<span style="color:#808080"> [字数：'+val.length+']</span>';
			return hview+="</td>";
			
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		$('[data-toggle="popover"]').popover();
	},
});
</script>
</body></html>