<% layout('/layouts/default.html', {title: '子任务列表', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
      <div class="pt-1  off-canvas-menu" href="#offCanvasRow">子任务列表 ${smsMtTaskPackets.sid} </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsMtTaskPackets}" action="${ctx}/sms/mtTaskPackets/listData" method="post" class="form-horizontal d-none"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
            <#form:hidden path="sid"/>
            <#form:hidden id="mobileContent"/>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
  <#form:offcanvas id="test">
  <div class="mg-b-25">
  	<textarea row="5" class="form-control">{{d.content}}</textarea>
  </div>
  <div class="mg-b-25">
  	<textarea row="12" class="form-control">{{d.mobile}}</textarea>
  </div>
  </#form:offcanvas>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'运营商', name:'cmcp', index:'cmcp', width:80, align:"center", formatter: function(val, obj, row, act){
  			return js.getDictLabel([{"dictLabel":"无法识别","dictValue":"0"},{"dictLabel":"移动","dictValue":"1"},{"dictLabel":"电信","dictValue":"2"},{"dictLabel":"联通","dictValue":"3"},{"dictLabel":"全网","dictValue":"4"}], val, '无法识别', true);
  		}},
		{header:'地区名称', name:'areaName', index:'area_name', sortable:false, align:"center", formatter: function(val, obj, row, act){
			if(val==null){
				return '无';
			}
			return val;
		}},
		{header:'通道名称', name:'passageName', index:'passage_name', sortable:false, align:"left"},
		{header:'手机号', name:'mobile', index:'mobile',sortable:false, align:"left" , formatter: function(val, obj, row, act){
			if(row.mobiles&&row.mobiles.length>1){
				return row.firstMobile + '... <span class="badge badge-primary">'+row.mobileSize+'</span>';
			}else{
				return val;
			}
		}},
		{header:'状态', name:'status', index:'status',sortable:false, align:"center",  formatter: function(val, obj, row, act){
  			return js.getDictLabel([{"dictLabel":"待处理","dictValue":"0"},{"dictLabel":"自动处理","dictValue":"10"},{"dictLabel":"手动处理","dictValue":"2"},{"dictLabel":"驳回","dictValue":"3"}], val, '未知', true);
  		}},
		{header:'分包信息', name:'remarks', index:'remarks',sortable:false,  width:360, align:"center"},
		{header:'提交时间', name:'createTime', index:'create_time', width:150, align:"center"},
		{header:'操作', name:'actions', sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			actions.push('<a href="javascript:;" onclick=openOffCanvas_test("${ctx}/sms/mtTaskPackets/getDataById?id='+row.id+'"); class="badge badge-light" title="查看" >查看</a>&nbsp;');
			actions.push('<a href="${ctx}/sms/smsMtTaskPackets/delete?id='+row.id+'" class="badge badge-light btnList" title="驳回">驳回</a>&nbsp;');
			actions.push('<a href="${ctx}/sms/smsMtTaskPackets/delete?id='+row.id+'" class="badge badge-light btnList" title="强制通过">强制通过</a>&nbsp;');
			actions.push('<a href="${ctx}/sms/smsMtTaskPackets/delete?id='+row.id+'" class="badge badge-light btnList" title="分配通道">分配通道</a>&nbsp;');
			return actions.join('');
		}},
		{header:'内容', hidden: true, name:'content', index:'content', formatter: function(val, obj, row, act){
			var hview = "</tr><tr style='line-height:30px;'><td colspan=20 style='border-bottom: 1px solid #e1e1e1; text-align:right;' class='pd-r-5'>";
			return hview+=val+"</td>";
			
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		$('[data-toggle="popover"]').popover();
	}
});
</script>
</body></html>