<% layout('/layouts/default.html', {title: '上行消息回复管理', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
      <div class="pt-1">上行消息回复管理</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
          <% if(expIf("hasAuthority('sms:smsMoMessageReceive:edit')")){ %>
          <a href="${ctx}/sms/smsMoMessageReceive/form" class="btn btn-xs btn-primary mg-l-10 btnTool" title="新增上行消息回复"><i class="fa fa-plus"></i>新增</a>
          <% } %>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsMoMessageReceive}" action="${ctx}/sms/smsMoMessageReceive/listData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">状态（0正常 1删除 2停用）</span>
         		</div>
				<#form:radio path="status" dictType="sys_status" blankOption="true" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm">查询</button>
			<button type="reset" class="btn btn-default btn-sm">重置</button>
		</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'用户编码', name:'userCode', index:'user_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sms/smsMoMessageReceive/form?id='+row.id+'" class="btnList" data-title="编辑上行消息回复">'+(val||row.id)+'</a>';
		}},
		{header:'通道标识', name:'passageId', index:'passage_id', width:150, align:"left"},
		{header:'短信标识', name:'msgId', index:'msg_id', width:150, align:"left"},
		{header:'用户手机号', name:'mobile', index:'mobile', width:150, align:"left"},
		{header:'短信内容', name:'content', index:'content', width:150, align:"left"},
		{header:'服务号长号码', name:'destnationNo', index:'destnation_no', width:150, align:"left"},
		{header:'是否需要推送，0：不需要，1：需要', name:'needPush', index:'need_push', width:150, align:"left"},
		{header:'推送地址', name:'pushUrl', index:'push_url', width:150, align:"left"},
		{header:'收到信息的时间', name:'receiveTime', index:'receive_time', width:150, align:"left"},
		{header:'状态（0正常 1删除 2停用）', name:'status', index:'status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '未知}', true);
		}},
		{header:'更新时间', name:'updateTime', index:'update_time', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(expIf("hasAuthority('sms:smsMoMessageReceive:edit')")){ %>
				actions.push('<a href="${ctx}/sms/smsMoMessageReceive/form?id='+row.id+'" class="btnList" title="编辑上行消息回复"><i class="la la-edit"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
</body></html>