<% layout('/layouts/default.html', {title: '下行短信回执状态日志管理', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between pd-10-f">
      <div class="pt-1">下行短信回执状态日志管理</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
          <% if(expIf("hasAuthority('sms:smsMtMessageDeliverLog:edit')")){ %>
          <a href="${ctx}/sms/smsMtMessageDeliverLog/form" class="btn btn-xs btn-primary mg-l-10 btnTool" title="新增下行短信回执状态日志"><i class="fa fa-plus"></i>新增</a>
          <% } %>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsMtMessageDeliverLog}" action="${ctx}/sms/smsMtMessageDeliverLog/listData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">短信提供商回复的时间，可为空</span>
         		</div>
				<#form:input path="deliverTime" maxlength="32" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm">查询</button>
			<button type="reset" class="btn btn-default btn-sm">重置</button>
		</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'通道简码', name:'passageCode', index:'passage_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sms/smsMtMessageDeliverLog/form?id='+row.id+'" class="btnList" data-title="编辑下行短信回执状态日志">'+(val||row.id)+'</a>';
		}},
		{header:'消息ID', name:'msgId', index:'msg_id', width:150, align:"left"},
		{header:'短信提供商回复的时间，可为空', name:'deliverTime', index:'deliver_time', width:150, align:"left"},
		{header:'报文数据', name:'report', index:'report', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(expIf("hasAuthority('sms:smsMtMessageDeliverLog:edit')")){ %>
				actions.push('<a href="${ctx}/sms/smsMtMessageDeliverLog/form?id='+row.id+'" class="btnList" title="编辑下行短信回执状态日志"><i class="la la-edit"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
</body></html>