<% layout('/layouts/default.html', {title: '下行短信任务管理', libs: ['validate']}){ %>
<div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
        <div class="pt-1">${smsMtTask.isNewRecord ? '新增下行短信任务' : '编辑下行短信任务'}</div>
        <div class="d-flex">
        </div>
    </div>
    <#form:form id="inputForm" model="${smsMtTask}" action="${ctx}/sms/smsMtTask/save" method="post">
        <div class="card-body card-content-fixed pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>id <span class="tx-danger ">*</span></label>
				
					<#form:hidden path="isNewRecord"/>
<#form:input path="id" maxlength="64" readonly="${!smsMtTask.isNewRecord}" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>用户编码 <span class="tx-danger ">*</span></label>
				<#form:input path="userCode" maxlength="64" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>消息ID <span class="tx-danger ">*</span></label>
				<#form:input path="sid" maxlength="20" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>调用类型 1:融合WEB平台,2:开发者平台,3:运营支撑系统 <span class="tx-danger ">*</span></label>
				<#form:input path="appType" maxlength="2" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>手机号 <span class="tx-danger ">*</span></label>
				<#form:input path="mobile" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>content <span class="tx-danger d-none">*</span></label>
				<#form:textarea path="content" rows="4" maxlength="2048" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>拓展号码 <span class="tx-danger d-none">*</span></label>
				<#form:input path="extNumber" maxlength="20" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>自定义内容 <span class="tx-danger d-none">*</span></label>
				<#form:input path="attach" maxlength="64" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>回调URL（选填） <span class="tx-danger d-none">*</span></label>
				<#form:input path="callback" maxlength="256" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>计费条数 <span class="tx-danger ">*</span></label>
				<#form:input path="fee" maxlength="8" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>返还条数 <span class="tx-danger d-none">*</span></label>
				<#form:input path="returnFee" maxlength="4" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>程序调用URL <span class="tx-danger d-none">*</span></label>
				<#form:input path="submitUrl" maxlength="256" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>提交IP <span class="tx-danger d-none">*</span></label>
				<#form:input path="ip" maxlength="45" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>提交类型：0：批量短信，1：普通点对点，2：模板点对点 <span class="tx-danger d-none">*</span></label>
				<#form:input path="submitType" maxlength="4" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>分包状态,0:正在分包，1：分包完成，待发送，2:分包异常，待处理，3:分包失败，终止 <span class="tx-danger d-none">*</span></label>
				<#form:input path="processStatus" maxlength="4" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>0：待审核，1：自动通过，2：手动通过，3：审核未通过 <span class="tx-danger d-none">*</span></label>
				<#form:input path="approveStatus" maxlength="4" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>错号手机号码 <span class="tx-danger d-none">*</span></label>
				<#form:input path="errorMobiles" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>重复手机号码 <span class="tx-danger d-none">*</span></label>
				<#form:input path="repeatMobiles" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>黑名单手机号码 <span class="tx-danger d-none">*</span></label>
				<#form:input path="blackMobiles" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>final_content <span class="tx-danger d-none">*</span></label>
				<#form:input path="finalContent" maxlength="2048" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>分包完成时间 <span class="tx-danger d-none">*</span></label>
				<#form:input path="processTime" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>异常分包情况下允许的操作，如000,010，第一位:未报备模板，第二位：敏感词，第三位：通道不可用 <span class="tx-danger d-none">*</span></label>
				<#form:input path="forceActions" maxlength="32" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>短信模板ID <span class="tx-danger d-none">*</span></label>
				<#form:input path="messageTemplateId" maxlength="20" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>敏感词 <span class="tx-danger d-none">*</span></label>
				<#form:input path="forbiddenWords" maxlength="64" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>备注信息 <span class="tx-danger d-none">*</span></label>
				<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
				</div>
			</div>
        </div>
        <div class="card-footer pd-sm-l-30">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                	<% if(expIf("hasAuthority('sms:smsMtTask:edit')")){ %>
                    <button type="submit" class="btn btn-sm btn-primary">保存提交</button>
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" onclick="js.closeCurrentTabPage()">关闭窗口</button>
                </div>
            </div>
        </div>
   </#form:form>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>