<% layout('/layouts/default.html', {title: '消息模板管理', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between pd-10-f">
      <div class="pt-1">消息模板管理</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
          <% if(expIf("hasAuthority('sms:smsMessageTemplate:edit')")){ %>
          <a href="${ctx}/sms/smsMessageTemplate/form" class="btn btn-xs btn-primary mg-l-10 btnTool" title="新增消息模板"><i class="fa fa-plus"></i>新增</a>
          <% } %>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsMessageTemplate}" action="${ctx}/sms/smsMessageTemplate/listData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">0：待审核，1：审核成功，2：审核失败</span>
         		</div>
				<#form:radio path="status" dictType="sys_status" blankOption="true" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm">查询</button>
			<button type="reset" class="btn btn-default btn-sm">重置</button>
		</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'归属用户，如果为0，则表示为系统模板（使用所有人）', name:'userCode', index:'user_code', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sms/smsMessageTemplate/form?id='+row.id+'" class="btnList" data-title="编辑消息模板">'+(val||row.id)+'</a>';
		}},
		{header:'模板内容', name:'content', index:'content', width:150, align:"left"},
		{header:'操作方式，1:融合WEB平台,2:开发者平台,3:运营支撑系统', name:'appType', index:'app_type', width:150, align:"left"},
		{header:'审批时间', name:'approveTime', index:'approve_time', width:150, align:"left"},
		{header:'审批账号', name:'approveUser', index:'approve_user', width:150, align:"left"},
		{header:'审核后短信通知类型,0:不需要通知，1：需要通知', name:'noticeMode', index:'notice_mode', width:150, align:"left"},
		{header:'审核后通知的手机号码', name:'mobile', index:'mobile', width:150, align:"left"},
		{header:'匹配正则表达式，后台自动生成', name:'regexValue', index:'regex_value', width:150, align:"left"},
		{header:'短信提交时间间隔（同一号码）', name:'submitInterval', index:'submit_interval', width:150, align:"left"},
		{header:'短信每天提交次数上限（同一号码）', name:'limitTimes', index:'limit_times', width:150, align:"left"},
		{header:'敏感词白名单 |符号隔开', name:'whiteWord', index:'white_word', width:150, align:"left"},
		{header:'模板路由类型', name:'routeType', index:'route_type', width:150, align:"left"},
		{header:'优先级（越大越优先）', name:'priority', index:'priority', width:150, align:"left"},
		{header:'扩展号', name:'extNumber', index:'ext_number', width:150, align:"left"},
		{header:'忽略手机号码黑名单', name:'ignoreBlacklist', index:'ignore_blacklist', width:150, align:"left"},
		{header:'忽略短信中敏感词信息，强制放行', name:'ignoreForbiddenWords', index:'ignore_forbidden_words', width:150, align:"left"},
		{header:'0：待审核，1：审核成功，2：审核失败', name:'status', index:'status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '未知}', true);
		}},
		{header:'更新时间', name:'updateTime', index:'update_time', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(expIf("hasAuthority('sms:smsMessageTemplate:edit')")){ %>
				actions.push('<a href="${ctx}/sms/smsMessageTemplate/form?id='+row.id+'" class="btnList" title="编辑消息模板"><i class="la la-edit"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/sms/smsMessageTemplate/disable?id='+row.id+'" class="btnList" title="停用消息模板" data-confirm="确认要停用该消息模板吗？")}"><i class="la la-minus-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/sms/smsMessageTemplate/enable?id='+row.id+'" class="btnList" title="启用消息模板" data-confirm="确认要启用该消息模板吗？")}"><i class="la la-check-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/sms/smsMessageTemplate/delete?id='+row.id+'" class="btnList" title="删除消息模板" data-confirm="确认要删除该消息模板吗？")}"><i class="la la-trash"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
</body></html>