<% layout('/layouts/default.html', {title: '上行消息回复管理', libs: ['validate']}){ %>
<div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between pd-10-f">
        <div class="pt-1">${smsMoMessageReceive.isNewRecord ? '新增上行消息回复' : '编辑上行消息回复'}</div>
        <div class="d-flex">
        </div>
    </div>
    <#form:form id="inputForm" model="${smsMoMessageReceive}" action="${ctx}/sms/smsMoMessageReceive/save" method="post">
        <div class="card-body card-content-fixed pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>id <span class="tx-danger ">*</span></label>
				
					<#form:hidden path="isNewRecord"/>
<#form:input path="id" maxlength="64" readonly="${!smsMoMessageReceive.isNewRecord}" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>用户编码 <span class="tx-danger ">*</span></label>
				<#form:input path="userCode" maxlength="64" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>通道标识 <span class="tx-danger d-none">*</span></label>
				<#form:input path="passageId" maxlength="11" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>短信标识 <span class="tx-danger d-none">*</span></label>
				<#form:input path="msgId" maxlength="64" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>用户手机号 <span class="tx-danger d-none">*</span></label>
				<#form:input path="mobile" maxlength="64" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>短信内容 <span class="tx-danger ">*</span></label>
				<#form:textarea path="content" rows="4" maxlength="1024" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>服务号长号码 <span class="tx-danger d-none">*</span></label>
				<#form:input path="destnationNo" maxlength="64" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>是否需要推送，0：不需要，1：需要 <span class="tx-danger d-none">*</span></label>
				<#form:input path="needPush" maxlength="1" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>推送地址 <span class="tx-danger d-none">*</span></label>
				<#form:input path="pushUrl" maxlength="128" class="form-control"/>
				</div>
				<div class="form-group col-md-6">
					<label>收到信息的时间 <span class="tx-danger d-none">*</span></label>
				<#form:input path="receiveTime" maxlength="64" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>备注信息 <span class="tx-danger d-none">*</span></label>
				<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
				</div>
			</div>
        </div>
        <div class="card-footer pd-sm-l-30">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                	<% if(expIf("hasAuthority('sms:smsMoMessageReceive:edit')")){ %>
                    <button type="submit" class="btn btn-sm btn-primary">保存提交</button>
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" onclick="js.closeCurrentTabPage()">关闭窗口</button>
                </div>
            </div>
        </div>
   </#form:form>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>