<% layout('/layouts/default.html', {title: '回执推送信息管理', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
      <div class="pt-1">回执推送信息管理</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
          <% if(expIf("hasAuthority('sms:smsMessageDeliver:edit')")){ %>
          <a href="${ctx}/sms/smsMessageDeliver/form" class="btn btn-xs btn-primary mg-l-10 btnTool" title="新增回执推送信息"><i class="fa fa-plus"></i>新增</a>
          <% } %>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsMessageDeliver}" action="${ctx}/sms/smsMessageDeliver/listData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">deliverStatus</span>
         		</div>
				<#form:input path="deliverstatus" maxlength="11" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm">查询</button>
			<button type="reset" class="btn btn-default btn-sm">重置</button>
		</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'deliverStatus', name:'deliverstatus', index:'deliverStatus', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sms/smsMessageDeliver/form?id='+row.id+'" class="btnList" data-title="编辑回执推送信息">'+(val||row.id)+'</a>';
		}},
		{header:'statusDes', name:'statusdes', index:'statusDes', width:150, align:"left"},
		{header:'deliverTimeStart', name:'delivertimestart', index:'deliverTimeStart', width:150, align:"center"},
		{header:'deliverTimeEnd', name:'delivertimeend', index:'deliverTimeEnd', width:150, align:"center"},
		{header:'httpTryTimes', name:'httptrytimes', index:'httpTryTimes', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(expIf("hasAuthority('sms:smsMessageDeliver:edit')")){ %>
				actions.push('<a href="${ctx}/sms/smsMessageDeliver/form?id='+row.id+'" class="btnList" title="编辑回执推送信息"><i class="la la-edit"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/sms/smsMessageDeliver/disable?id='+row.id+'" class="btnList" title="停用回执推送信息" data-confirm="确认要停用该回执推送信息吗？")}"><i class="la la-minus-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/sms/smsMessageDeliver/enable?id='+row.id+'" class="btnList" title="启用回执推送信息" data-confirm="确认要启用该回执推送信息吗？")}"><i class="la la-check-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/sms/smsMessageDeliver/delete?id='+row.id+'" class="btnList" title="删除回执推送信息" data-confirm="确认要删除该回执推送信息吗？")}"><i class="la la-trash"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
</body></html>