<% layout('/layouts/default.html', {title: '通道变更日志管理', libs: ['validate']}){ %>
<div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
        <div class="pt-1">${smsPassageChangeLog.isNewRecord ? '新增通道变更日志' : '编辑通道变更日志'}</div>
        <div class="d-flex">
        </div>
    </div>
    <#form:form id="inputForm" model="${smsPassageChangeLog}" action="${ctx}/sms/smsPassageChangeLog/save" method="post">
        <div class="card-body card-content-fixed pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>id <span class="tx-danger ">*</span></label>
				
					<#form:hidden path="isNewRecord"/>
<#form:input path="id" maxlength="64" readonly="${!smsPassageChangeLog.isNewRecord}" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>通道ID <span class="tx-danger ">*</span></label>
				<#form:input path="passageId" maxlength="11" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>原通道ID <span class="tx-danger ">*</span></label>
				<#form:input path="oldPassageId" maxlength="11" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>通道组id <span class="tx-danger ">*</span></label>
				<#form:input path="groupId" maxlength="11" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>用户编码 <span class="tx-danger ">*</span></label>
				<#form:input path="userCode" maxlength="64" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>路由类型 <span class="tx-danger ">*</span></label>
				<#form:input path="routeType" maxlength="4" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>运营商 <span class="tx-danger ">*</span></label>
				<#form:input path="cmcp" maxlength="2" class="form-control required"/>
				</div>
				<div class="form-group col-md-6">
					<label>操作方式 <span class="tx-danger ">*</span></label>
				<#form:input path="operateMode" maxlength="2" class="form-control required"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>操作人 工号 <span class="tx-danger d-none">*</span></label>
				<#form:input path="operateUser" maxlength="32" class="form-control"/>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label>备注信息 <span class="tx-danger d-none">*</span></label>
				<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
				</div>
			</div>
        </div>
        <div class="card-footer pd-sm-l-30">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                	<% if(expIf("hasAuthority('sms:smsPassageChangeLog:edit')")){ %>
                    <button type="submit" class="btn btn-sm btn-primary">保存提交</button>
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" onclick="js.closeCurrentTabPage()">关闭窗口</button>
                </div>
            </div>
        </div>
   </#form:form>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>