<% layout('/layouts/default.html', {title: '通道重连配置管理', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between box-header">
      <div class="pt-1">通道重连配置管理</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
          <% if(expIf("hasAuthority('sms:smsPassageReachrateSettings:edit')")){ %>
          <a href="${ctx}/sms/smsPassageReachrateSettings/form" class="btn btn-xs btn-primary mg-l-10 btnTool" title="新增通道重连配置"><i class="fa fa-plus"></i>新增</a>
          <% } %>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsPassageReachrateSettings}" action="${ctx}/sms/smsPassageReachrateSettings/listData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">状态（0正常 1删除 2停用）</span>
         		</div>
				<#form:radio path="status" dictType="sys_status" blankOption="true" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm">查询</button>
			<button type="reset" class="btn btn-default btn-sm">重置</button>
		</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'短信通道ID', name:'passageId', index:'passage_id', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sms/smsPassageReachrateSettings/form?id='+row.id+'" class="btnList" data-title="编辑通道重连配置">'+(val||row.id)+'</a>';
		}},
		{header:'轮询间隔（单位秒）', name:'interval', index:'interval', width:150, align:"center"},
		{header:'数据源时间（开始执行时间点，单位秒）', name:'startTime', index:'start_time', width:150, align:"center"},
		{header:'数据源时长', name:'timeLength', index:'time_length', width:150, align:"center"},
		{header:'计数阀值，起始点', name:'countPoint', index:'count_point', width:150, align:"left"},
		{header:'到达率，整数，最大100', name:'rateThreshold', index:'rate_threshold', width:150, align:"left"},
		{header:'通知手机号码', name:'mobile', index:'mobile', width:150, align:"left"},
		{header:'状态（0正常 1删除 2停用）', name:'status', index:'status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '未知}', true);
		}},
		{header:'更新时间', name:'updateTime', index:'update_time', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(expIf("hasAuthority('sms:smsPassageReachrateSettings:edit')")){ %>
				actions.push('<a href="${ctx}/sms/smsPassageReachrateSettings/form?id='+row.id+'" class="btnList" title="编辑通道重连配置"><i class="la la-edit"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/sms/smsPassageReachrateSettings/disable?id='+row.id+'" class="btnList" title="停用通道重连配置" data-confirm="确认要停用该通道重连配置吗？")}"><i class="la la-minus-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/sms/smsPassageReachrateSettings/enable?id='+row.id+'" class="btnList" title="启用通道重连配置" data-confirm="确认要启用该通道重连配置吗？")}"><i class="la la-check-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/sms/smsPassageReachrateSettings/delete?id='+row.id+'" class="btnList" title="删除通道重连配置" data-confirm="确认要删除该通道重连配置吗？")}"><i class="la la-trash"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
</body></html>