<% layout('/layouts/default.html', {title: '短信接口提供商管理', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between pd-10-f">
      <div class="pt-1">短信接口提供商管理</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
          <% if(expIf("hasAuthority('sms:smsProvider:edit')")){ %>
          <a href="${ctx}/sms/smsProvider/form" class="btn btn-xs btn-primary mg-l-10 btnTool" title="新增短信接口提供商"><i class="fa fa-plus"></i>新增</a>
          <% } %>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${smsProvider}" action="${ctx}/sms/smsProvider/listData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">提供商名称</span>
         		</div>
				<#form:input path="name" maxlength="45" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">状态（0正常 1删除 2停用）</span>
         		</div>
				<#form:radio path="status" dictType="sys_status" blankOption="true" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm">查询</button>
			<button type="reset" class="btn btn-default btn-sm">重置</button>
		</div>
		</#form:form>
		<table id="dataGrid"></table>
		<div id="dataGridPage"></div>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'提供商类型0:运营商1:第三方', name:'type', index:'type', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/sms/smsProvider/form?id='+row.id+'" class="btnList" data-title="编辑短信接口提供商">'+(val||row.id)+'</a>';
		}},
		{header:'提供商名称', name:'name', index:'name', width:150, align:"left"},
		{header:'提供商编号', name:'code', index:'code', width:150, align:"left"},
		{header:'是否启用(0:启用1:停用)', name:'isApplied', index:'is_applied', width:150, align:"left"},
		{header:'优先级(相同产品调用优先级)', name:'priority', index:'priority', width:150, align:"left"},
		{header:'contact', name:'contact', index:'contact', width:150, align:"left"},
		{header:'phone', name:'phone', index:'phone', width:150, align:"left"},
		{header:'mobile', name:'mobile', index:'mobile', width:150, align:"left"},
		{header:'fax', name:'fax', index:'fax', width:150, align:"left"},
		{header:'address', name:'address', index:'address', width:150, align:"left"},
		{header:'zip', name:'zip', index:'zip', width:150, align:"left"},
		{header:'状态（0正常 1删除 2停用）', name:'status', index:'status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '未知}', true);
		}},
		{header:'更新时间', name:'updateTime', index:'update_time', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(expIf("hasAuthority('sms:smsProvider:edit')")){ %>
				actions.push('<a href="${ctx}/sms/smsProvider/form?id='+row.id+'" class="btnList" title="编辑短信接口提供商"><i class="la la-edit"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/sms/smsProvider/disable?id='+row.id+'" class="btnList" title="停用短信接口提供商" data-confirm="确认要停用该短信接口提供商吗？")}"><i class="la la-minus-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/sms/smsProvider/enable?id='+row.id+'" class="btnList" title="启用短信接口提供商" data-confirm="确认要启用该短信接口提供商吗？")}"><i class="la la-check-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/sms/smsProvider/delete?id='+row.id+'" class="btnList" title="删除短信接口提供商" data-confirm="确认要删除该短信接口提供商吗？")}"><i class="la la-trash"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
</body></html>