<%  var toolsSection = { %>
<div class="kt-subheader__wrapper">
	<a href="#" class="btn kt-subheader__btn-primary btn-icon">
		<i class="flaticon2-file"></i>
	</a>
	<a href="#" class="btn kt-subheader__btn-primary btn-icon">
		<i class="flaticon-download-1"></i>
	</a>
	<a href="#" class="btn kt-subheader__btn-primary btn-icon">
		<i class="flaticon2-fax"></i>
	</a>
	<a href="#" class="btn kt-subheader__btn-primary btn-icon">
		<i class="flaticon2-settings"></i>
	</a>
</div>
<% }; %>
<% layout('/layouts/default.html', {title: '我的首页', menuCode:"myhome", subDesc: '控制台', toolsSection: toolsSection}){ %>
<p>这是一个测试页${ctxStatic}</p>
<p>这是一个测试页${ctxPath}</p>
<p>这是一个测试页${_version}</p>
<% } %>
