<% layout('/layouts/default.html', {title: '用户信息', bodyClass: 'app-contact'}){ %>
<link rel="stylesheet" href="${ctxStatic}/css/tangdao.userinfo.css">
    <div class="contact-wrapper">
      <div class="contact-sidebar mg-l-25">
       <div class="contact-content-sidebar">
          <div class="clearfix mg-b-25">
            <div id="contactAvatar" class="pos-relative float-left">
              <div class="avatar avatar-xl"><img src="${ctxStatic+user.avatar!'/images/user1.jpg'}" class="rounded-circle" alt=""></div>
              <a href="" class="contact-edit-photo" data-toggle="tooltip" title="Upload Photo"><i data-feather="edit-2"></i></a>
            </div>
          </div>
          <h5 id="contactName" class="tx-18 tx-xl-20 mg-b-5">${user.nickname!user.username}</h5>
          <p class="tx-13 tx-lg-12 tx-xl-13 tx-color-03 mg-b-20">${user.email!user.mobile}</p>
          <nav class="contact-call-nav mg-b-20">
            <a href="#" class="nav-call" data-toggle="tooltip" title="Make a Phone Call"><i data-feather="phone"></i></a>
            <a href="#" class="nav-video" data-toggle="tooltip" title="Make a Video Call"><i data-feather="video"></i></a>
            <a href="#" class="nav-msg" data-toggle="tooltip" title="Send Message"><i data-feather="message-square"></i></a>
          </nav><!-- contact-call-nav -->

        </div><!-- contact-content-sidebar -->
        <div class="contact-sidebar-body tx-13">
        	<div class="col-lg">
	          <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">消息中心</label>
	          <nav class="nav flex-column contact-content-nav mg-b-25">
	            <a href="" class="nav-link"><i data-feather="globe"></i> 我的消息</a>
	            <a href="" class="nav-link"><i data-feather="star"></i> 通知设置</a>
	          </nav>
	        </div>
        	<div class="col-lg mg-t-40">
	          <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">基本设置</label>
	          <nav class="nav flex-column contact-content-nav mg-b-25">
             	<a href="" class="nav-link"><i data-feather="briefcase"></i> <span class="tx-color-03">个人资料</span></a>
              	<a href="" class="nav-link"><i data-feather="home"></i> <span class="tx-color-03">修改密码</span></a>
              	<a href="" class="nav-link"><i data-feather="user"></i> <span>第三方账号绑定</span></a>
              	<a href="" class="nav-link"><i data-feather="phone"></i> <span>邮箱管理</span></a>
              	<a href="" class="nav-link"><i data-feather="mail"></i> <span>升级账户</span></a>
	          </nav>
	        </div>
        	<div class="col-lg mg-t-40">
	          <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">安全设置</label>
	          <nav class="nav flex-column contact-content-nav mg-b-25">
             	<a href="" class="nav-link"><i data-feather="users"></i> <span>SSH公钥</span></a>
	            <a href="" class="nav-link"><i data-feather="calendar"></i> <span>第三方应用</span></a>
	            <a href="" class="nav-link"><i data-feather="briefcase"></i> <span>我的令牌</span></a>
	            <a href="" class="nav-link"><i data-feather="globe"></i> <span>登录历史</span></a>
	          </nav>
	        </div>
        </div><!-- contact-sidebar-body -->
      </div><!-- contact-sidebar -->

      <div class="contact-content">
        <div class="contact-content-header">
          <nav class="nav">
            <a href="#contactInformation" class="nav-link active" data-toggle="tab">个人资料</a>
            <a href="#contactLogs" class="nav-link" data-toggle="tab">个人地址设置</a>
          </nav>
          <a href="" id="contactOptions" class="text-secondary mg-l-auto"><i data-feather="more-horizontal"></i></a>
        </div><!-- contact-content-header -->

        <div class="contact-content-body">
          <div class="tab-content">

            <div id="contactInformation" class="tab-pane show active pd-20 pd-xl-25">
              <div class="d-flex align-items-center justify-content-between mg-b-25">
                <h6 class="mg-b-0">Personal Details</h6>
                <div class="d-flex">
                  <a href="#modalEditContact" data-toggle="modal" class="btn btn-sm btn-white d-flex align-items-center mg-r-5"><i data-feather="edit-2"></i><span class="d-none d-sm-inline mg-l-5"> Edit</span></a>
                  <a href="#modalDeleteContact" data-toggle="modal" class="btn btn-sm btn-white d-flex align-items-center"><i data-feather="trash"></i><span class="d-none d-sm-inline mg-l-5"> Delete</span></a>
                </div>
              </div>

              <div class="row">
                <div class="col-6 col-sm">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Firstname</label>
                  <p class="mg-b-0">Abigail</p>
                </div><!-- col -->
                <div class="col-6 col-sm">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Middlename</label>
                  <p class="mg-b-0">Christensen</p>
                </div><!-- col -->
                <div class="col-sm mg-t-20 mg-sm-t-0">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Lastname</label>
                  <p class="mg-b-0">Johnson</p>
                </div><!-- col -->
              </div><!-- row -->

              <h6 class="mg-t-40 mg-b-20">Contact Details</h6>

              <div class="row row-sm">
                <div class="col-6 col-sm-4">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Mobile Phone</label>
                  <p class="tx-primary tx-rubik mg-b-0">+1 290 912 3868</p>
                </div>
                <div class="col-6 col-sm-4">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Home Phone</label>
                  <p class="tx-primary tx-rubik mg-b-0">+1 011 342 3129</p>
                </div>
                <div class="col-6 col-sm-4 mg-t-20 mg-sm-t-0">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Work Phone</label>
                  <p class="tx-primary tx-rubik mg-b-0">+1 100 003 3344</p>
                </div>
                <div class="col-sm-4 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Email Address</label>
                  <p class="tx-primary mg-b-0">me@themepixels.me</p>
                </div>
                <div class="col-sm-4 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Company</label>
                  <p class="mg-b-0">ThemePixels, Inc.</p>
                </div>
                <div class="col-sm-4 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Job Position</label>
                  <p class="mg-b-0">President &amp; CEO</p>
                </div>
                <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Home Address</label>
                  <p class="mg-b-0">4658 Kenwood Place<br>Pompano Beach, FL 33060, United States</p>
                </div>
                <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Work Address</label>
                  <p class="mg-b-0">819 Waldeck Street<br>Farmers Branch, TX 75244, United States</p>
                </div>
                <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Personal Website</label>
                  <p class="tx-primary mg-b-0">http://themepixels.me/</p>
                </div>
                <div class="col-sm-6 mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Social Profiles</label>
                  <nav class="nav nav-social">
                    <a href="" class="nav-link"><i data-feather="facebook"></i></a>
                    <a href="" class="nav-link"><i data-feather="twitter"></i></a>
                    <a href="" class="nav-link"><i data-feather="instagram"></i></a>
                    <a href="" class="nav-link"><i data-feather="github"></i></a>
                  </nav>
                </div><!-- col -->
                <div class="col-sm mg-t-20 mg-sm-t-30">
                  <label class="tx-10 tx-medium tx-spacing-1 tx-color-03 tx-uppercase tx-sans mg-b-10">Notes</label>
                  <p class="tx-13 mg-b-0">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                </div>
              </div><!-- row -->
            </div>
            <div id="contactLogs" class="tab-pane pd-20 pd-xl-25">
              <div class="d-flex align-items-center justify-content-between mg-b-30">
                <h6 class="tx-15 mg-b-0">Call &amp; Message Logs</h6>
                <a href="#" class="btn btn-sm btn-white d-flex align-items-center"><i class="icon ion-md-time mg-r-5 tx-16 lh--9"></i> Clear History</a>
              </div>
            </div><!-- tab-pane -->
          </div><!-- tab-content -->
        </div><!-- contact-content-body -->

        
      </div><!-- contact-content -->

    </div><!-- contact-wrapper -->
<% } %>
<script type="text/javascript">
//set active contact from list to show in desktop view by default

new PerfectScrollbar('.contact-sidebar-body', {
  suppressScrollX: true
});

</script>
</body></html>