<% layout('/layouts/default.html', {title: '行政区划管理', libs: ['dataGrid']}){ %>
 <div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between pd-10-f">
      <div class="pt-1">行政区划管理</div>
      <div class="d-flex">
          <button type="button" id="btnSearch" title="查询" class="btn btn-xs btn-default"><i class="fa fa-filter"></i>查询</button>
          <button type="button" id="btnRefreshTree" class="btn btn-xs btn-default mg-l-10" title="刷新"><i class="fa fa-redo-alt"></i> 刷新</button>
          <button type="button" id="btnExpandTreeNode" class="btn btn-xs btn-default mg-l-10" title="展开一级"><i class="fa fa-angle-double-down"></i> 展开</button>
          <button type="button" id="btnCollapseTreeNode" class="btn btn-xs btn-default mg-l-10" title="折叠全部"><i class="fa fa-angle-double-up"></i> 折叠</button>
          <% if(expIf("hasAuthority('sys:area:edit')")){ %>
          <a href="${ctx}/sys/area/form" class="btn btn-xs btn-primary mg-l-10 btnTool" title="新增行政区划"><i class="fa fa-plus"></i>新增</a>
          <% } %>
      </div>
    </div>
    <div class="card-body pd-10">
       <#form:form id="searchForm" model="${area}" action="${ctx}/sys/area/listData" method="post" class="form-horizontal"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">父级编号</span>
         		</div>
				<#form:input path="parentCode" maxlength="64" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">所有父级编号</span>
         		</div>
				<#form:input path="parentCodes" maxlength="1000" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">全节点名</span>
         		</div>
				<#form:input path="treeNames" maxlength="1000" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group wd-250">
				<div class="input-group-prepend">
					<span class="input-group-text">状态（0正常 1删除 2停用）</span>
         		</div>
				<#form:radio path="status" dictType="sys_status" blankOption="true" class="form-control"/>
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-sm">查询</button>
			<button type="reset" class="btn btn-default btn-sm">重置</button>
		</div>
		</#form:form>
		<table id="dataGrid"></table>
    </div>
  </div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'区域名称', name:'areaName', index:'area_name', width:250, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '( '+row.areaCode+' ) '+'<a href="${ctx}/sys/area/form?areaCode='+row.areaCode+'" class="btnList" data-title="编辑行政区划")}">'+(val||row.id)+'</a>';
		}},
		{header:'本级排序号（升序）', name:'treeSort', index:'tree_sort', width:150, align:"center"},
		{header:'区域名称', name:'areaName', index:'area_name', width:150, align:"left"},
		{header:'区域类型', name:'areaType', index:'area_type', width:150, align:"left"},
		{header:'状态（0正常 1删除 2停用）', name:'status', index:'status', width:150, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('sys_status')}, val, '未知}', true);
		}},
		{header:'更新时间', name:'updateTime', index:'update_time', width:150, align:"left"},
		{header:'操作', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(expIf("hasAuthority('sys:area:edit')")){ %>
				actions.push('<a href="${ctx}/sys/area/form?areaCode='+row.areaCode+'" class="btnList" title="编辑行政区划"><i class="la la-edit"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/sys/area/disable?areaCode='+row.areaCode+'" class="btnList" title="停用行政区划" data-confirm="确认要停用该行政区划吗？")}"><i class="la la-minus-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/sys/area/enable?areaCode='+row.areaCode+'" class="btnList" title="启用行政区划" data-confirm="确认要启用该行政区划吗？")}"><i class="la la-check-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/sys/area/delete?areaCode='+row.areaCode+'" class="btnList" title="删除行政区划" data-confirm="确认要删除该行政区划及所有子行政区划吗？")}" data-deltreenode="'+row.areaCode+'"><i class="la la-trash"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/sys/area/form?parentCode='+row.areaCode+'" class="btnList" title="新增下级行政区划"><i class="la la-plus-square"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	dataId: 'areaCode',
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 0,	// 默认展开的层次
	expandNodeClearPostData: 'areaName', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
</body></html>