<% layout('/layouts/default.html', {title: '公司管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(company.isNewRecord ? '新增公司' : '编辑公司')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${company}" action="${ctx}/sys/company/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4">${text('上级公司')}：</label>
							<div class="col-sm-8">
								<#form:treeselect id="parent" title="${text('上级公司')}"
									path="parent.id" labelPath="parent.<html><head><title>beetlException</title><style><!-- *{margin:0;padding:0}.main{position:absolute;margin:auto;width:100%;z-index:9999999999999999999;}H1{font-family:Consolas,Arial,sans-serif;color:white;background-color:#a0a0a0;font-size:24px;padding-left:10px}H3{font-family:Consolas,sans-serif;color:#333;font-size:13px;font-weight:lighter;margin-top:5px;font-style:italic}BODY{font-family:Consolas,Arial,sans-serif;color:black;background-color:white}xmp{margin:auto;overflow:auto;width:100%;display: block;white-space: pre-wrap;font-family:simsun,sans-serif;background:white;color:black;font-size:13px;font-weight:lighter;color:#666;line-height:25px;}A{color:black}A.name{color:black}HR{color:#525d76}.t1{margin-top:0;}a.powered:hover{color:#dd1122}--></style></head><body><div class='main'><h1>>>未找到属性(ATTRIBUTE_NOT_FOUND):treeViewNameAttrName 位于31行 资源:<%
	var extLibs = '';
	if(@ObjectUtils.toBoolean(table.optionMap['isImageUpload']) || @ObjectUtils.toBoolean(table.optionMap['isFileUpload'])){
		extLibs = extLibs + ',\'fileupload\'';
	}
	if(table.childList.~size > 0){
		extLibs = extLibs + ',\'dataGrid\'';
	}
%>
\<% layout('/layouts/default.html', {title: '${functionNameSimple}管理', libs: ['validate'${extLibs}]}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> \${text(${className}.isNewRecord ? '新增${functionNameSimple}' : '编辑${functionNameSimple}')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<${'#'}form:form id="inputForm" model="\${${className}}" action="\${ctx}/${urlPrefix}/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">\${text('基本信息')}</div>
			<% if(table.isTreeEntity){ %>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4">\${text('上级${functionNameSimple}')}：</label>
							<div class="col-sm-8">
								<${'#'}form:treeselect id="parent" title="\${text('上级${functionNameSimple}')}"
									path="parent.id" labelPath="parent.${table.treeViewNameAttrName}"
									url="\${ctx}/${urlPrefix}/treeData?excludeCode=\${${className}.id}"
									class="" allowClear="true" canSelectRoot="true" canSelectParent="true"/>
							</div>
						</div>
					</div>
				</div>
			<% } %>
				<% include('/templates/modules/gen/include/formControl.html'){} %>
				<% include('/templates/modules/gen/include/formChildTable.html'){} %>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						\<% if (hasPermi('${permissionPrefix}:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> \${text('保 存')}</button>&nbsp;
						\<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> \${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</${'#'}form:form>
	</div>
</div>
\<% } %>
<% include('/templates/modules/gen/include/formChildTableScript.html'){} %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
				<% if(table.isTreeEntity){ %>
					contentWindow.$('#dataGrid').dataGrid('refreshTreeChildren',
							$('#parentCode').val(), '\${${className}.id}');
				<% }else{ %>
					contentWindow.page();
				<% } %>
				});
			}
		}, "json");
    }
});
<% if(table.isTreeEntity){ %>

// 选择上级节点回调方法
function treeselectCallback(id, act, index, layero){
	if (id == 'parent' && (act == 'ok' || act == 'clear')){
		// 创建并初始化下一个节点信息，如：排序号、默认值
		$.get('\${ctx}/${urlPrefix}/createNextNode?parentCode='
				+$('#parentCode').val(), function(data){
			$('#treeSort').val(data.treeSort);
		});
	}
}
<% } %>
</script></h1><HR size='1' noshade='noshade' class='t1'><xmp style='padding-left:20px'>attribute : treeViewNameAttrName
28|<label class="control-label col-sm-4">\${text('上级${functionNameSimple}')}：</label>
29|<div class="col-sm-8">
30|<${'#'}form:treeselect id="parent" title="\${text('上级${functionNameSimple}')}"
31|path="parent.id" labelPath="parent.${table.treeViewNameAttrName}"
32|url="\${ctx}/${urlPrefix}/treeData?excludeCode=\${${className}.id}"
33|class="" allowClear="true" canSelectRoot="true" canSelectParent="true"/>
34|</div>
</xmp><HR size='1' noshade='noshade'><h3></h3><div></body></html>