<%  var jsSection = { %>
<script>
$("#kt_form_status").selectpicker();
var myDatatable = $(".kt-datatable").myDatatable({
	searchForm: $("#searchForm"),
	columns:[
		{
			field: 'configName',
			title: '参数名称',
			autoHide: false,
		}, {
			field: 'configKey',
			title: '参数键名',
		},{
			field: 'configValue',
			title: '参数键值',
		},{
			field: 'createTime',
			title: '创建时间',
		}, {
			field: 'Actions',
			title: 'Actions',
			sortable: false,
			width: 110,
			overflow: 'visible',
			autoHide: false,
			template: function(row) {
				var status = '<a href="${ctxPath}/sys/role/disable?roleCode='+row.roleCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm btnList" title="启用" data-confirm="确认要禁用该配置吗？">\
					<i class="la la-check-circle kt-font-success"></i>\
					</a>';
				if(row.status==2){
					status = '<a href="${ctxPath}/sys/role/enable?roleCode='+row.roleCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm btnList" title="禁用" data-confirm="确认要启用该配置吗？">\
						<i class="la la-ban kt-font-danger"></i>\
						</a>';
				}
				return '\
				<a href="${ctxPath}/sys/config/form?id='+row.id+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="编辑">\
					<i class="la la-edit"></i>\
				</a>'+status+'\
				<a href="${ctxPath}/sys/config/delete?id='+row.id+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm btnList" title="删除" data-confirm="确认要删除该配置吗？">\
				<i class="la la-trash"></i>\
				</a>\
			';
			},
		}
	],
});
</script>
<% }; %>
<%  var toolbar = { %>
<div class="kt-subheader__wrapper">
	<a href="#" class="btn btn-secondary btn-sm active" id="btnSearch">
		<i class="flaticon-tool"></i> 查询
	</a>
	<a href="${ctxPath}/sys/config/form" class="btn btn-primary btn-sm">
		<i class="flaticon2-add-1"></i> 新建参数
	</a>
</div>
<% }; %>
<% layout('/layouts/default.html', {title: '参数列表',  menuCode:'1044886630252683264', libs:[], jsSection: jsSection, toolbar: toolbar}){ %>
<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__body" style="padding: 0px;">
		<form class="kt-form kt-form--label-right kt-margin-20" id="searchForm" action="${ctxPath}/sys/config/listData" method="post">
			<div class="row align-items-center">
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<div class="kt-input-icon kt-input-icon--left">
						<input type="text" class="form-control" placeholder="按参数名称搜索" name="configName">
						<span class="kt-input-icon__icon kt-input-icon__icon--left">
							<span><i class="la la-search"></i></span>
						</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<#form:select id="kt_form_status" name="status" dictType="sys_search_status" class="form-control" />
				</div>
				<div class="col-md-6 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<button type="submit" class="btn btn-primary">查询</button>
					<button type="reset" class="btn btn-secondary">重置</button>
				</div>
			</div>
		</form>
		<!--begin: Datatable -->
		<div class="kt-datatable" id="server_record_selection_config"></div>
		<!--end: Datatable -->
	</div>
</div>
<% } %>
