<%  var jsSection = { %>
<script>
var myDatatable = $(".kt-datatable").myDatatable({
	searchForm: $("#searchForm"),
	columns:[
		{
			field: 'configName',
			title: '参数名称',
			autoHide: false,
		}, {
			field: 'configKey',
			title: '参数键名',
		},{
			field: 'configValue',
			title: '参数键值',
		},{
			field: 'status',
			title: 'Status',
			// callback function support for column rendering
			template: function(row) {
				var status = {
					2: {'title': '锁定', 'state': 'danger'},
					0: {'title': '正常', 'state': 'primary'},
				};
				return '<span class="kt-badge kt-badge--' + status[row.status].state + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + status[row.status].state + '">' + status[row.status].title + '</span>';
			},
		}, {
			field: 'Actions',
			title: 'Actions',
			sortable: false,
			width: 110,
			overflow: 'visible',
			autoHide: false,
			template: function(row) {
				return '\
				<a href="${ctxPath}/sys/config/form?id='+row.id+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="编辑">\
					<i class="la la-edit"></i>\
				</a>\
				<a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="删除">\
					<i class="la la-trash"></i>\
				</a>\
			';
			},
		}
	],
});
$('#kt_form_status').selectpicker();

$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			console.log(data)
		}, "json");
    }
});
</script>
<% }; %>
<%  var toolbar = { %>
<div class="kt-subheader__wrapper">
	<a href="#" class="btn btn-secondary btn-sm active" id="btnSearch">
		<i class="flaticon-tool"></i> 查询
	</a>
	<a href="${ctxPath}/sys/config/form" class="btn btn-primary btn-sm">
		<i class="flaticon2-add-1"></i> 新建参数
	</a>
</div>
<% }; %>
<% layout('/layouts/default.html', {title: '参数列表',  menuCode:'1044886630252683264', libs:['validation'], jsSection: jsSection, toolbar: toolbar}){ %>
<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand flaticon2-list"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				Data list
			</h3>
		</div>
	</div>
	<div class="kt-portlet__body" style="padding: 0px;">
		<form class="kt-form kt-form--label-right kt-margin-20" id="searchForm" action="${ctxPath}/sys/config/listData" method="post">
			<div class="row align-items-center">
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<div class="kt-input-icon kt-input-icon--left">
						<input type="text" class="form-control" placeholder="输入参数名称" name="configName">
						<span class="kt-input-icon__icon kt-input-icon__icon--left">
							<span><i class="la la-search"></i></span>
						</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label">
							<label>Status:</label>
						</div>
						<div class="kt-form__control">
							<select class="form-control bootstrap-select" id="kt_form_status" name="status">
								<option value="">请选择</option>
								<option value="0">正常</option>
								<option value="2">锁定</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<button type="submit" class="btn btn-primary">查询</button>
					<button type="reset" class="btn btn-secondary">重置</button>
				</div>
			</div>
		</form>
		<!--begin: Datatable -->
		<div class="kt-datatable" id="server_record_selection_config"></div>
		<!--end: Datatable -->
	</div>
</div>
<% } %>
