<% layout('/layouts/default.html', {title: '参数设置', libs: ['validate']}){ %>
<div class="card bd-0">
    <div class="card-header d-flex align-items-start justify-content-between pd-10-f">
        <div class="pt-1">${config.isNewRecord ? '新增参数' : '编辑参数'}</div>
        <div class="d-flex">
        </div>
    </div>
    <#form:form id="inputForm" model="${config}" action="${ctx}/sys/config/save" method="post">
    	<#form:hidden path="id" />
        <div class="card-body card-content-fixed pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="parentCode">参数名称</label>
                    <#form:input path="configName" maxlength="100" class="form-control required" 
									readonly="${!config.currentUser.superAdmin}"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="menuType">参数键名</label>
	                <#form:input path="configKey" maxlength="100" class="form-control required"
									readonly="${!config.currentUser.superAdmin}" />
                </div>
            </div>
            <div class="form-row">
	            <div class="form-group  col-md-6">
	                <label>参数键值</label>
	                <#form:textarea path="configValue" rows="4" maxlength="2000" class="form-control "/>
	            </div>
	            <div class="form-group  col-md-6">
	                
	            </div>
            </div>
            <div class="form-group">
                <label>参数描述</label>
                 <#form:textarea path="remarks" class="form-control" row="5" placeholder="请输入" />
            </div>
        </div>
        <div class="card-footer pd-sm-l-30">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                	<% if(expIf("hasAuthority('sys:config:edit')")){ %>
                    <button type="submit" class="btn btn-secondary">保存提交</button>
                    <% } %>
                    <button type="button" class="btn btn-default" onclick="js.closeCurrentTabPage()">关闭窗口</button>
                </div>
            </div>
        </div>
    </#form:form>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
	}
});
</script>
</body></html>