<%  var jsSection = { %>
<script>
$("#kt_form_status").selectpicker();
var myDatatable = $(".kt-datatable").myDatatable({
	searchForm: $("#searchForm"),
	columns:[
		{
			field: 'roleName',
			title: '角色名称',
			autoHide: false,
		}, {
			field: 'roleCode',
			title: '角色编码',
		},{
			field: 'roleSort',
			title: '角色排序',
		},{
			field: 'status',
			title: '状态',
			width: 80,
			template: function(row) {
				var status = {
					2: {'title': '锁定', 'state': 'danger'},
					0: {'title': '正常', 'state': 'primary'},
				};
				return '<span class="kt-badge kt-badge--' + status[row.status].state + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + status[row.status].state + '">' + status[row.status].title + '</span>';
			},
		},{
			field: 'updateTime',
			title: '更新时间',
		}, {
			field: 'Actions',
			title: '操作',
			sortable: false,
			width: 110,
			overflow: 'visible',
			autoHide: false,
			template: function(row) {
				return '\
				<a href="${ctxPath}/sys/role/form?op=edit&roleCode='+row.roleCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="编辑">\
					<i class="la la-edit"></i>\
				</a>\
				<a href="${ctxPath}/sys/role/form?op=auth&roleCode='+row.roleCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="授权">\
					<i class="la la-get-pocket"></i>\
				</a>\
				<a href="${ctxPath}/sys/role/delete?roleCode='+row.roleCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm btnList" title="删除" data-confirm="确认要删除该角色吗？">\
					<i class="la la-trash"></i>\
				</a>\
			';
			},
		}
	],
});
</script>
<% }; %>
<%  var toolbar = { %>
<div class="kt-subheader__wrapper">
	<a href="#" class="btn btn-secondary btn-sm active" id="btnSearch">
		<i class="flaticon-tool"></i> 查询
	</a>
	<a href="${ctxPath}/sys/role/form?op=add" class="btn btn-primary btn-sm">
		<i class="flaticon2-add-1"></i> 新建角色
	</a>
</div>
<% }; %>
<% layout('/layouts/default.html', {title: '角色列表',  menuCode:'1044886629531262976', libs:[], jsSection: jsSection, toolbar: toolbar}){ %>
<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__body" style="padding: 0px;">
		<form class="kt-form kt-form--label-right kt-margin-20" id="searchForm" action="${ctxPath}/sys/role/listData" method="post">
			<div class="row align-items-center">
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<div class="kt-input-icon kt-input-icon--left">
						<input type="text" class="form-control" placeholder="输入角色名称" name="roleName">
						<span class="kt-input-icon__icon kt-input-icon__icon--left">
							<span><i class="la la-search"></i></span>
						</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label">
							<label>Status:</label>
						</div>
						<div class="kt-form__control">
							<select class="form-control bootstrap-select" id="kt_form_status" name="status">
								<option value="">请选择</option>
								<option value="0">正常</option>
								<option value="2">锁定</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<button type="submit" class="btn btn-primary">查询</button>
					<button type="reset" class="btn btn-secondary">重置</button>
				</div>
			</div>
		</form>
		<!--begin: Datatable -->
		<div class="kt-datatable" id="server_record_selection_role"></div>
		<!--end: Datatable -->
	</div>
</div>
<% } %>
