<% var op = user.isNewRecord?'新建':'编辑'; %>
<%  var jsSection = { %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			console.log(data)
		}, "json");
    }
});
</script>
<% }; %>
<%  var toolbar = { %>
<div class="kt-subheader__wrapper">
	<a href="javascript:history.go(-1);" class="btn btn-outline-secondary btn-sm">
		<i class="la la-arrow-left"></i> 返回列表
	</a>
</div>
<% }; %>
<% layout('/layouts/default.html', {title:op!+'用户',  menuCode:'1044886627991953408', libs:['validation'], jsSection:jsSection, desc: op+'用户',toolbar: toolbar}){ %>
<div class="kt-portlet">
	<#form:form id="inputForm" model="${user}" action="${ctxPath}/sys/user/save" method="post" class="kt-form kt-form--fit kt-form--label-right">
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-lg-3">
                    <div class="row">
                         <label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
                         <div class="col-lg-9 col-xl-6">
                             <div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_apps_user_add_avatar">
                                 <div class="kt-avatar__holder" style='background-image: url(&quot;${ctxStatic}${user.avatar!"/media/users/default.jpg"}&quot;);'></div>
                                 <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                     <i class="fa fa-pen"></i>
                                     <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                 </label>
                                 <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                     <i class="fa fa-times"></i>
                                 </span>
                             </div>
                         </div>
                     </div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="form-group col-lg-6">
							<label>用户名：</label>
							<#form:input path="username" class="form-control required" minlength="6" placeholder="请输入用户名" />
							<span class="form-text text-muted">Please Enter Username</span>
						</div>
						<div class="form-group col-lg-6">
							<label class="">用户昵称：</label>
							<#form:input path="nickname" class="form-control" placeholder="请输入用户昵称" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-6">
							<label>电子邮箱：</label>
							<#form:input path="email" class="form-control" placeholder="请输入电子邮箱" />
						</div>
						<div class="form-group col-lg-6">
							<label class="">手机号码：</label>
							<#form:input path="mobile" class="form-control" placeholder="请输入手机号码" />
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3">
					<div class="row">
						<div class="form-group col-lg-12">
							<label>用户性别：</label>
							<div class="kt-radio-inline">
							<#form:radio path="sex" dictType="sys_user_sex" class="required"/>
							</div>
							<span class="form-text text-muted">Please select user sex</span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-12">
							<label>用户分组：</label>
							<div class="kt-radio-inline">
							<#form:radio path="mgrType" dictType="sys_user_mgr_type" class="required"/>
							</div>
							<span class="form-text text-muted">Please select user group</span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-12">
							<label for="recipient-name" class="form-control-label">角色：</label>
							<div class="kt-checkbox-list kt-scroll" data-scroll="true" style="max-height:200px">
							<#form:checkbox name="roleCode" items="${roles}" itemLabel="roleName" itemValue="roleCode" value="${user.roleCodes}" class="required"/>
							</div>
							<span class="form-text text-muted">Please select user group</span>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="form-group col-lg-6">
							<label>办公电话：</label>
							<#form:input path="phone" class="form-control" placeholder="请输入办公电话" />
						</div>
						<div class="form-group col-lg-6">
							<label class="">权重排序：</label>
							<#form:input path="userWeight" class="form-control" placeholder="请输入权重排序" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-6">
							<label class="">签名：</label>
							<#form:input path="sign" class="form-control" placeholder="请输入签名" />
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-12">
							<label class="">备注：</label>
							<#form:textarea path="remarks" class="form-control"  placeholder="请输入备注"  rows="3"></#form:textarea>
							<span class="form-text text-muted">Please enter your remarks</span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-12">
							<label for="recipient-name" class="form-control-label">其它设置：</label>
							<div class="kt-checkbox-list">
								<#form:checkbox name="randomPassword" label="Set random password" checked="true"/>
								<#form:checkbox name="changePassword" label="Should change password on next login"/>
								<#form:checkbox name="activationEmail" label="Send activation email"  checked="true"/>
								<#form:checkbox name="active" label="Active"/>
								<#form:checkbox name="lockout" label="Lockout enabled"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="kt-portlet__foot">
			<div class="kt-form__actions">
				<button type="submit" class="btn btn-primary btn-sm">确  认</button>
				<button type="reset" class="btn btn-primary btn-sm" onclick="window.history.go(-1);">返  回</button>
			</div>
		</div>
	</#form:form>
</div>
<% } %>
