<%  var jsSection = { %>
<script>
var myDatatable = $(".kt-datatable").myDatatable({
	searchForm: $("#searchForm"),
	columns:[
		{
			field: 'userCode',
			title: '#',
			width: 30,
			selector: true,
		}, {
			field: 'username',
			title: 'User name',
			autoHide: false,
		}, {
			field: 'nickname',
			title: 'Nick name',
		},{
			field: 'roles',
			title: 'Roles',
			sortable: false,
		},{
			field: 'email',
			title: 'Email address',
		},{
			field: 'status',
			title: 'Status',
			// callback function support for column rendering
			template: function(row) {
				var status = {
					2: {'title': '锁定', 'state': 'danger'},
					0: {'title': '正常', 'state': 'primary'},
				};
				return '<span class="kt-badge kt-badge--' + status[row.status].state + ' kt-badge--dot"></span>&nbsp;<span class="kt-font-bold kt-font-' + status[row.status].state + '">' + status[row.status].title + '</span>';
			},
		},{
			field: 'lastLoginIp',
			title: 'Last loginip',
			sortable: false,
		}, {
			field: 'Actions',
			title: 'Actions',
			sortable: false,
			width: 110,
			overflow: 'visible',
			autoHide: false,
			template: function(row) {
				return '\
				<a href="${ctxPath}/sys/user/form?userCode='+row.userCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="编辑用户">\
					<i class="la la-edit"></i>\
				</a>\
				<a href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="删除">\
					<i class="la la-trash"></i>\
				</a>\
			';
			},
		}
	],
});
$('#kt_form_status').selectpicker();
</script>
<% }; %>
<%  var toolsSection = { %>
<div class="kt-subheader__wrapper">
	<a href="#" class="btn btn-secondary btn-sm active" id="btnSearch">
		<i class="flaticon-tool"></i> 查询
	</a>
	<a href="${ctxPath}/sys/user/form" class="btn btn-primary btn-sm">
		<i class="flaticon2-add-1"></i> 新建用户
	</a>
</div>
<% }; %>
<% layout('/layouts/default.html', {title: '用户列表',  menuCode:'1044886627991953408', libs:[], subDesc: '用户列表', jsSection: jsSection, toolsSection: toolsSection}){ %>
<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand flaticon2-list"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				Data list
			</h3>
		</div>
	</div>
	<div class="kt-portlet__body" style="padding: 0px;">
		<form class="kt-form kt-form--label-right kt-margin-20" id="searchForm" action="${ctxPath}/sys/user/listData" method="post">
			<div class="row align-items-center">
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<div class="kt-input-icon kt-input-icon--left">
						<input type="text" class="form-control" placeholder="Search..." name="generalSearch">
						<span class="kt-input-icon__icon kt-input-icon__icon--left">
							<span><i class="la la-search"></i></span>
						</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<div class="kt-form__group kt-form__group--inline">
						<div class="kt-form__label">
							<label>Status:</label>
						</div>
						<div class="kt-form__control">
							<select class="form-control bootstrap-select" id="kt_form_status" name="status">
								<option value="">请选择</option>
								<option value="0">正常</option>
								<option value="2">锁定</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<button type="submit" class="btn btn-primary">查询</button>
					<button type="reset" class="btn btn-secondary">重置</button>
				</div>
			</div>
		</form>
		<!--begin: Datatable -->
		<div class="kt-datatable" id="server_record_selection"></div>
		<!--end: Datatable -->
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="kt_modal_6" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 850px;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">新增用户</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<div class="form-group row">
							<div class="col-lg-6">
								<label>用户名:</label>
								<input type="email" class="form-control" placeholder="Enter full name">
								<span class="form-text text-muted">Please enter your full name</span>
							</div>
							<div class="col-lg-6">
								<label class="">昵称:</label>
								<input type="email" class="form-control" placeholder="Enter contact number">
								<span class="form-text text-muted">Please enter your contact number</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>地址:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="Enter your address">
									<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
								</div>
								<span class="form-text text-muted">Please enter your address</span>
							</div>
							<div class="col-lg-6">
								<label class="">邮编:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="Enter your postcode">
									<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-bookmark-o"></i></span></span>
								</div>
								<span class="form-text text-muted">Please enter your postcode</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-12">
								<label>用户角色:</label>
								<div class="kt-input-icon">
									<input type="text" class="form-control" placeholder="Enter your address">
									<span class="kt-input-icon__icon kt-input-icon__icon--right"><span><i class="la la-map-marker"></i></span></span>
								</div>
								<span class="form-text text-muted">请配置角色信息</span>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-lg-6">
								<label>用户类型:</label>
								<div class="kt-radio-inline">
									<label class="kt-radio kt-radio--solid">
										<input type="radio" name="example_2" checked value="2"> 管理员
										<span></span>
									</label>
									<label class="kt-radio kt-radio--solid">
										<input type="radio" name="example_2" value="2"> 用户
										<span></span>
									</label>
								</div>
								<span class="form-text text-muted">Please select user group</span>
							</div>
						</div>
						<div class="form-group">
							<label for="recipient-name" class="form-control-label">其它设置:</label>
							<div class="kt-checkbox-list">
								<label class="kt-checkbox kt-checkbox--solid">
									<input type="checkbox" checked=""> Set random password
									<span></span>
								</label>
								<label class="kt-checkbox kt-checkbox--solid">
									<input type="checkbox"> Should change password on next login
									<span></span>
								</label>
								<label class="kt-checkbox kt-checkbox--solid">
									<input type="checkbox"> Send activation email
									<span></span>
								</label>
								<label class="kt-checkbox kt-checkbox--solid">
									<input type="checkbox">  Active
									<span></span>
								</label>
								<label class="kt-checkbox kt-checkbox--solid">
									<input type="checkbox"> Lockout enabled
									<span></span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary">保存修改</button>
			</div>
		</div>
	</div>
</div>
<% } %>
