<%  var jsSection = { %>
<script>
$("#kt_form_status").selectpicker();
var myDatatable = $(".kt-datatable").myDatatable({
	searchForm: $("#searchForm"),
	columns:[
		{
			field: 'userCode',
			title: '名称',
			autoHide: false,
			template: function(data) {
				var avatar = data.avatar;
				var output = '<div class="kt-user-card-v2">';
				if(avatar){
					output += '<div class="kt-user-card-v2__pic">\
								<img src="${ctxStatic}'+avatar+'" alt="photo">\
						</div>';
				}else{
					var stateNo = KTUtil.getRandomInt(0, 7);
					var states = [
						'success',
						'brand',
						'danger',
						'success',
						'warning',
						'dark',
						'primary',
						'info'];
					var state = states[stateNo];
					output += '<div class="kt-user-card-v2__pic">\
						<div class="kt-badge kt-badge--xl kt-badge--' + state + '">' + data.nickname.substring(0, 1) + '</div>\
					</div>';
				}
				output+='<div class="kt-user-card-v2__details">\
							<div class="kt-user-card-v2__name">' + data.nickname;
							if(data.mgrType=='1'){
								output+=' <span class="kt-badge kt-badge--success kt-badge--inline">管理</span>';
							}
				output+='</div><a href="mailto:' +data.email + '" class="kt-user-card-v2__email kt-link">' +data.email + '</a>\
						</div>\
					</div>';
				return output;
			},
		},{
			field: 'lastLoginDate',
			title: '最后登录',
			template: function(row) {
				if(row.lastLoginDate){
					return '<span>'+row.lastLoginDate+'</span><br/>\
						<strong>'+row.lastLoginIp+'</strong>';
				}else{
					return '--';
				}
			},
		},{
			field: 'createTime',
			title: '创建时间',
		},{
			field: 'Actions',
			title: '操作',
			autoHide: false,
			sortable: false,
			width: 150,
			overflow: 'visible',
			template: function(row) {
				var status = '<a href="${ctxPath}/sys/user/disable?userCode='+row.userCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm btnList" title="启用" data-confirm="确认要禁用该用户吗？">\
					<i class="la la-check-circle kt-font-success"></i>\
					</a>';
				if(row.status==2){
					status = '<a href="${ctxPath}/sys/user/enable?userCode='+row.userCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm btnList" title="禁用" data-confirm="确认要启用该用户吗？">\
						<i class="la la-ban kt-font-danger"></i>\
						</a>';
				}
				return '\
				<a href="${ctxPath}/sys/user/form?userCode='+row.userCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm" title="编辑">\
					<i class="la la-edit"></i>\
				</a>'+status
				+'<a href="${ctxPath}/sys/user/delete?userCode='+row.userCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm btnList" title="删除" data-confirm="确认要删除该用户吗？">\
					<i class="la la-trash"></i>\
				</a>\
				<a href="${ctxPath}/sys/user/resetPwd?userCode='+row.userCode+'" class="btn btn-sm btn-clean btn-icon btn-icon-sm btnList" title="重置密码"  data-confirm="确认要重置该用户到初始密码？">\
					<i class="la la-lock"></i>\
				</a>\
				';
			},
		}
	],
});
</script>
<% }; %>
<%  var toolbar = { %>
<div class="kt-subheader__wrapper">
	<a href="#" class="btn btn-secondary btn-sm active" id="btnSearch">
		<i class="flaticon-tool"></i> 查询
	</a>
	<a href="${ctxPath}/sys/user/form" class="btn btn-primary btn-sm">
		<i class="flaticon2-add-1"></i> 新建用户
	</a>
</div>
<% }; %>
<% layout('/layouts/default.html', {title: '用户列表',  menuCode:'1044886627991953408', libs:[], jsSection: jsSection, toolbar: toolbar}){ %>
<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__body" style="padding: 0px;">
		<form class="kt-form kt-form--label-right kt-margin-20" id="searchForm" action="${ctxPath}/sys/user/listData" method="post">
			<div class="row align-items-center">
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<div class="kt-input-icon kt-input-icon--left">
						<input type="text" class="form-control" placeholder="按用户名搜索" name="username">
						<span class="kt-input-icon__icon kt-input-icon__icon--left">
							<span><i class="la la-search"></i></span>
						</span>
					</div>
				</div>
				<div class="col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<select class="form-control bootstrap-select" id="kt_form_status" name="status">
						<option value=""></option>
						<option value="0">正常</option>
						<option value="2">锁定</option>
					</select>
				</div>
				<div class="col-md-6 col-sm-4 kt-margin-b-20-tablet-and-mobile">
					<button type="submit" class="btn btn-primary">查询</button>
					<button type="reset" class="btn btn-secondary">重置</button>
				</div>
			</div>
		</form>
		<!--begin: Datatable -->
		<div class="kt-datatable" id="server_record_selection_user"></div>
		<!--end: Datatable -->
	</div>
</div>
<% } %>
