label.error.invalid-feedback{
	top: auto;
	left: 10px;
	padding: 0 5px 1px;
	font-size: 11px;
	color: #fff !important;
	width: auto;
	max-width: none;
	position: absolute;
	background: #ff6969;
	z-index: 10;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px #dedede;
	box-shadow: 0 5px 10px #dedede;
}
label.error.invalid-feedback:after {
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) #ff6969;
    border-style: solid;
    border-width: 6px;
    content: "";
    height: 0;
    left: 15px;
    position: absolute;
    top: -11px;
}
.kt-avatar .kt-avatar__holder{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}