<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tangdao.modules.sms.mapper.SmsPassageGroupDetailMapper">
	
	<sql id="selectColumns">
		t.id AS "id",
		t.group_id AS "groupId",
		t.passage_id AS "passageId",
		t.area_code AS "areaCode",
		t.route_type AS "routeType",
		t.priority AS "priority",
		t.cmcp AS "cmcp",
		t.status AS "status",
		t.create_by AS "createBy",
		t.create_time AS "createTime",
		t.update_by AS "updateBy",
		t.update_time AS "updateTime",
		t.remarks AS "remarks"
	</sql>
	
	<select id="findPassageByGroupId" resultType="SmsPassageGroupDetail">
		select 
		<include refid="selectColumns"/>
		,s.id as "smsPassage.id"
		,s.name as "smsPassage.name"
		,s.cmcp as "smsPassage.cmcp"
		,s.type as "smsPassage.type"
		,s.access_code as "smsPassage.accessCode"
		,s.mobile_size as "smsPassage.mobileSize"
		,s.packets_size as "smsPassage.packetsSize"
		,s.code as "smsPassage.code"
		,s.sign_mode as "smsPassage.signMode"
		,s.status as "smsPassage.cmcp"
		from sms_passage_group_detail d,sms_passage s where d.passage_id = s.id 
		and d.group_id = #{0} 
		order by d.priority asc
	</select>
	
</mapper>